@import url('../loozah/style.css');

nav {
	background: #CCC;
}
footer {
	background: #CCC;
}
#banner {
	color: #FF0000;
}

body { 
	background: #000000;
	color: #FF0000;
}
.nav-selected {
	background: #000000 !important;
	color: #888888 !important;
}

input:hover {
	background-color: #800000;
}
input, select {
	background-color: #000000;
	color: #FF0000;
}
.nav-link:hover, .nav-commlink:hover, .tab:hover {
	background: #DDDDDD;
	color: #FF0000;
}

#logo-text a, #logo-text a:visited, #site-location {
	color: #000000;
}


#page-footer {
	border: none;
}
.nav-link {
	color: #FF0000;
	background: #444444;
}

.nav-commlink {
	color: #FF0000;
	background: #444444;
}

.tab {
	color: #FF0000;
	background: #444444;

}

a, a:visited, .fakelink, .fakelink:visited {
	color: #888888;
	text-decoration: none;
}

a:hover, .fakelink:hover {
	color: #FF0000;
	text-decoration: underline;
}

