#Options -Indexes
AddType application/x-java-archive .jar
AddType audio/ogg .oga

<FilesMatch "\.(out|log)$">
Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
  RewriteEngine on
  # Protect repository directory from browsing
  RewriteRule "(^|/)\.git" - [F]

  # Rewrite current-style URLs of the form 'index.php?q=x'.
  # Also place auth information into REMOTE_USER for sites running
  # in CGI mode.

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?q=$1 [E=REMOTE_USER:%{HTTP:Authorization},L,QSA]

</IfModule>

