@import url('../loozah/style.css');

body { 
	background: #DDDDDD;
	color: #444444;
}

.nav-link {
	color: #444444;
	background: #F4F4F4;
}
.nav-selected {
	background: #DDDDDD !important;
}

.nav-commlink {
	color: #444444;
	background: #F4F4F4;
}

.tab {
	color: #444444;
	background: #F4F4F4;

}

a, a:visited {
	color: #8888FF;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	text-decoration: underline;
}

.fakelink, .fakelink:visited {
	color: #8888FF;
}

.fakelink:hover {
	color: #0000FF;
}

.wall-item-content-wrapper.comment {
	background: #CCCCCC;
}

.comment-edit-wrapper {
	background: #CCCCCC;
}

.comment-wwedit-wrapper {
	background: #CCCCCC;
}

#photos-upload-perms-menu, #photos-upload-perms-menu:visited {
	color: #8888FF;
}

#photos-upload-perms-menu:hover {
	color: #0000FF;
}
#settings-default-perms-menu, #settings-default-perms-menu:visited {
	color: #8888FF;
}

#settings-default-perms-menu:hover {
	color: #0000FF;
}
