
nav {
	height: 94px;
	display: block;
}

aside {
	display: block;
	width: 210px;
	position: absolute;
	top: 48px;
	left: 0;
	margin-left: 10px;
}


section {
	position: absolute;
	top: 48px;
	left: 250px;
	display: block;
	right: 15px;
}
