header #banner {
	position: fixed;
	top: 0;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

main {
	display: table;
	table-layout: fixed;
	position: relative;
	width: 100%;
	height: 100%;
}

aside#region_1 {
	width: 231px;
	min-width: 231px;
	max-width: 231px;
	display: table-cell;
	vertical-align: top;
	padding: 65px 7px 0px 7px;
}

section {
	width: 100%;
	display: table-cell;
	vertical-align: top;
	padding: 65px 7px 200px 7px;
}
