header #banner {
	position: fixed;
	top: 0;
	width: 250px;
	margin-left: auto;
	margin-right: auto;
}

main {
	padding: 55px 0px 200px 0px;
	border-spacing: 10px;
}

aside#region_1 {
	min-width: 210px;
	display: table-cell;
	vertical-align: top;
}

aside input[type='text'] {
 width: 174px;
}

section {
	width: 100%;
	display: table-cell;
	vertical-align: top;
}
