
h2 {
	margin-left: 5%;
	margin-top: 5%;
}

#register-form {
	font-size: 1.4em;	
	margin-left: 10%;
	margin-top: 5%;
}

#register-desc, #register-text, #register-sites {
	font-weight: bold;
	margin-bottom: 15px;
}

.register-label {
	float: left;
	width: 275px;
}

.register-input {
	float: left;
	width: 275px;
	padding: 5px;
}

.register-feedback {
	float: left;
	margin-left: 45px;
}

.register-field-end {
	clear: both;
	margin-bottom: 20px;
}

