#channels-selected {
	color: #666666;
	font-size: 1.2em;
	width: 120px;
	margin: 20px auto 10px auto;
}

#channels-desc {
	color: #666666;
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 20px;
}

#selected-channel {
	width: 200px;
	margin: 0px auto 0px auto;
}

#selected-channel .channel-selection {
	clear: both;
	width: 120px;
	margin: 0px auto 0px auto;
}

.channel-selection-default {
	font-size: 0.8em;
	margin-bottom: 10px;
}

#all-channels .channel-selection {
	width: 120px;
	float: left;
}
.channels-end {
	clear: both;
}

.channel-selection-name-link {
	font-size: 1.2em;
	margin-top: 10px;
}