#dspr-pubcomment-label {
    float: left;
    width: 350px;
    margin-bottom: 25px;
}

#dspr-pubcomment-checkbox {
    float: left;
}

#settings-dspr-wrapper {
    margin-top: 15px;
}

.group {
	margin-left: 10px;
}
