#settings-permissions-wrapper .field {
	margin-bottom: 10px;
}
#settings-permissions-wrapper .field label{
	width: 350px;
}

.settings-submit-wrapper {
	margin-bottom: 10px;
}

#settings-remove-account-link {
	margin-top: 15px;
	margin-bottom: 45px;
}
