#channels-selected {
	color: #666666;
	font-size: 1.2em;
	margin-top: 20px;
	margin-bottom: 10px;
}

#channels-desc {
	color: #666666;
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 20px;
}

.channel-selection-default {
	font-size: 0.8em;
	margin-bottom: 10px;
}

.channel-selection {
	width: 120px;
	float: left;
}
.channels-end {
	clear: both;
}

.channel-selection-name-link {
	font-size: 1.2em;
	margin-top: 10px;
}