

.thing-profile #contact-profile-selector {
	margin-left: 0;
}

/* first-of-type needed to style switches */
.field label.mainlabel,
.thing-label, .field label:first-of-type, .thing-verb-label, .thing-profile-label{
	float: left;
	width: 350px;
}

.thing-input, .thing-verb, .thing-profile{
	float: left;
	margin-bottom: 15px;
	width: 400px;
}

.thing-field-end {
	clear: both;
}
