#channels-selected {
	color: #666666;
	font-size: 0.8em;

}

#channels-desc {
	color: #666666;
	font-size: 1.2em;
	margin-top: 15px;
	margin-bottom: 20px;
}

.channels-break {
	margin-bottom: 15px;
}
#selected-channel {
	float: left;
	margin-left: 0;
}

.channels-end.selected {
	clear: both;
}

#selected-channel .channel-selection {
	clear: both;
	margin: 0 auto 0 auto;
}

.channel-selection-default {
	font-size: 0.8em;
	margin-bottom: 10px;
}

#all-channels .channel-selection {
	width: 12em;
	height: 16em;
	float: left;
	margin: 0 15px 15px 0;
}
.channels-end {
	clear: both;
}

.channel-selection-name-link {
	font-size: 1.2em;
	margin-top: 10px;
}

.channel-selection-name-link .channel-name {
	padding-top: 10px;
	text-align: left;	
	word-wrap: break-word;
	overflow: hidden;
}

.channels-notifications-wrapper {
	clear: both;
	padding-top: 10px;
}
