#settings-permissions-wrapper {
	margin-top: 15px;
}

#settings-perm-advanced {
	margin-top: 15px;
}

.settings-common-perms {
	margin-top: 15px;
}

#settings-permissions-wrapper .field {
	margin-bottom: 10px;
}

#settings-permissions-wrapper .field label{
	width: 350px;
}

.settings-submit-wrapper {
	margin-bottom: 10px;
}

#settings-remove-account-link {
	margin-top: 15px;
	margin-bottom: 45px;
}

#settings-notifications label {
	margin-left: 20px;
}
#settings-notify-desc, #settings-activity-desc {
	font-weight: bold;
	margin-bottom: 15px;
}

#settings-menu-desc {
	font-weight: bold;
	float: left;
	width: 350px;
}

#settings-channel-menu-div select {
	float: left;
}

#settings-channel-menu-end {
	clear: both;
	margin-bottom: 15px;
}