
#event-desc-textarea, #event-location-textarea {
    width: 400px;
}

#event-summary-text, #event-start-text, #event-finish-text {
    width: 200px;
    float: left;
}

#event-summary, #start_text, #finish_text {
    width: 300px;
    float: left;
}

#event-category-wrap {
	margin-top: 15px;
}

.event-cats {
	margin-top: 15px;
    width: 400px;
}


.required {
    float: left;
}

#event-datetime-break {
    clear: both;
}
#event-nofinish-break {
    margin-bottom: 10px;
}
