
#group-new-submit-wrapper {
	margin-top: 30px;
}
/*
#group-edit-form > label {
	float: left;
	width: 300px;
}

#group-edit-form input {
	float: left;
	width: 175px;
}

#group-edit-form .field {
	clear: both;
}
*/
#group-edit-submit-wrapper input {
	clear: both;
	width: 100px;
}

#group-edit-select-end {
	clear: both;
}
/*
#group-edit-name-label {
	float: left;
	width: 175px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#group-edit-name {
	float: left;
	width: 225px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#group-edit-name-wrapper {


}
*/

#group_members_select_label {
	display: block;
	float: left;
	width: 175px;
}

.group_members_select {
	float: left;
	width: 230px;
	overflow: auto;
}

#group_members_select_end {
	clear: both;
}
#group-edit-name-end {
	clear: both;
}
