
.field_abook_help {
	color: #000;
}
.abook-them {
	margin-left: 375px;
	margin-bottom: 15px;
}
.abook-me {
	margin-left: 36px;
	margin-bottom: 15px;
}
.acheckbox {
	margin-bottom: 5px !important;
}

.abook-pending-contact {
	background: orange;
	font-weight: bold;
	margin: 10px;
	padding: 20px 5px 10px;
}

#contact-slider {
	width: 600px !important;
}

.abook-edit-them, .abook-edit-me {
	float: left;
	width: 100px !important;
}
.field_abook_help {
	float: left;
}
