.photos-end {
	clear: both;
	margin-bottom: 25px;
}

.photo-item-tools-left,
.photo-item-tools-right {
	padding: 7px 10px;
}

#photo-photo {
	display: table;
	margin: 0 auto;
}

#photo-edit,
#photo-album-edit-wrapper,
#photo-upload-form {
	display: none;
}

#photos-usage-message {
	line-height: 22px;
}

#photos-upload-choose {
	padding: 2px 12px;
}
