
/* Easiest way to indent the widget body - indent the entire widget and then shift the header label back to the left */

.widget {
	word-wrap: break-word;
	margin-bottom: 10px;
	padding: 10px 10px 10px 20px;
}

.widget h3 {
	margin-left: -10px;
	margin-top: 0px;
}

/* suggest */

.suggest-widget-more {
	margin-top: 10px;
}

/* follow */

#side-follow-url {
	margin-top: 5px;
}

#side-follow-submit {
	margin-top: 15px;
}

/* notes */ 

#note-text {
	width: 100%;
	resize: vertical;
	height: 150px;
}

#note-save {
	margin-top: 10px;
}

/* saved searches */


#netsearch-box #search-submit {
	margin: 10px 0 7px 0;
}

#netsearch-box #search-save {
	margin: 9px 0 7px 6px;
}
.search-save {
	margin: 7px 0 7px 7px;
}

.saved-search-li {
	margin-top: 3px;
}

.saved-search-li i {
	opacity: 0;
}

.saved-search-li:hover i {
	opacity: 1;
}

.saved-search-icon {
	float: right;
}

.savedsearchterm {
	display: block;
	width: 150px;
	overflow: hidden;
}

/* peoplefind */

#peoplefind-sidebar .btn {
	margin: 10px 0 10px 0;
}

#side-peoplefind-url {
	margin-top: 5px;
}

#side-peoplefind-url {
	font-size: 1em;
}


/* fileas */


/* posted date */

.posted-date-selector-months {
	margin-left: 10px;
}

#datebrowse-sidebar select {
	width: 190px;
	max-width: 190px;
	max-height: 150px;
}

/* categories */


/* group */

#sidebar-group-list {
	margin-bottom: 10px;
}

.sidebar-group-li input {
	float: right;
}

.groupsideedit {
	float: right;
}

.group-edit-icon {
	opacity: 0;
}

li:hover .group-edit-icon {
	opacity: 1;
}
/* affinity - slider */

#main-slider {
	position: relative; 
	left: 5px; 
	width: 90%;
}

.slider {
	margin-top: 10px;
	margin-bottom: 45px;
}

/* photo albums */

#photo-albums-upload-link {
	margin-top: 10px;
}

/* Chatrooms */

.chatroomlist td {
	padding: 0 5px 0;
}
