.widget {
	margin-bottom: 10px;
	padding: 10px;
}

.widget h3 {
	margin-top: 0px;
}


.widget .nav-pills > li > a {
	padding: 6px 10px;
}

.widget-input {
	width: 100%;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* suggest */

.suggest-widget-more {
	margin-top: 10px;
}

/* follow */

#side-follow-url {
	margin-top: 5px;
}

#side-follow-submit {
	margin-top: 15px;
}

/* notes */ 

#note-text {
	padding: 5px;
	width: 100%;
	resize: vertical;
	height: 150px;
}

/* saved searches */

#saved-search-list {
	margin-top: 2px;
}


/* fileas */


/* posted date */

.posted-date-selector-months {
	margin: 2px 0px 0px 10px;
}

#posted-date-selector li:not(:first-child) {
	margin-top: 2px;
}

#posted-date-selector-drop li:not(:first-child) {
	margin-top: 2px;
}

/* categories */


/* group */

a.group-edit-tool {
	z-index: 1;
}

.group-edit-icon {
	opacity: 0;
}

li:hover .group-edit-icon {
	opacity: 1;
}
/* affinity - slider */

#main-slider {
	position: relative; 
	left: 5px; 
	width: 90%;
}

.slider {
	margin-top: 10px;
	margin-bottom: 45px;
}

/* photo albums */


/* Chatrooms */

.chatroomlist td {
	padding: 0 5px 0;
}

/* ratings */

.directory-rating {
	float: right;
	margin-right: 5px;
}

.slider-container {
	padding: 15px;
}

.rating-text-label {
	margin-top: 30px;
}

.directory-rating-text {
	width: 90%;
	margin-left: 5%;
}

.directory-rating-submit {
	margin-top: 15px;
}
