@import url('../duepuntozero/style.css');

body {
	font-family: "Comic Sans MS", sans !important;
	font-size: 13px;
}
.wall-item-content-wrapper {
	border: none;
}

.wall-item-content-wrapper.comment {
	background: #ffffff !important;
	border-left: 1px solid #EEE;
}

.wall-item-tools {
	background: none;
}

.comment-edit-text-empty, .comment-edit-text-full {
	border: none;
	border-left: 1px solid #EEE;
	background: #EEEEEE;
}

.comment-edit-wrapper, .comment-wwedit-wrapper {
	background: #ffffff !important;
}

section {
	margin: 0px 32px;
}

aside {
	margin-left: 32px;
}
nav {
	margin-left: 32px;
	margin-right: 32px;
}

nav #site-location {
	top: 80px;
	right: 36px;
}

.wall-item-photo, .photo, .contact-block-img, .my-comment-photo {
	border-radius: 3px;
	-moz-border-radius: 3px;
	margin-top: 15px;
}

.wall-item-photo.comment {
	margin-top: 26px;
}


.triangle-isosceles {
	position:relative;
	padding:15px;
	margin:1em 0 3em;
	color:#000;
	background:#EEEEEE; /* default background for browsers without gradient support */
	/* css3 */
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#EEEEEE), to(#ffffff));
	background:-moz-linear-gradient(#EEEEEE, #ffffff);
	background:-o-linear-gradient(#EEEEEE, #ffffff);
	background:linear-gradient(#EEEEEE, #ffffff);
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/* Variant : for left/right positioned triangle
------------------------------------------ */

.triangle-isosceles.left {
	margin-left:30px;
	background:#F8F8F8;
	border: 2px solid #CCCCCC;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

/* creates triangle */
.triangle-isosceles:after {
	content:"";
	position:absolute;
	bottom:-8px; /* value = - border-top-width - border-bottom-width */
	left:30px; /* controls horizontal position */
	border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#f8f8f8 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}

/* Variant : left
------------------------------------------ */

.triangle-isosceles.left:after {
	top:12px; /* controls vertical position */
	left:-30px; /* value = - border-left-width - border-right-width */
	bottom:auto;
	border-width:10px 30px 10px 0;
	border-color:transparent #f8f8f8;
}
