@import url('../../duepuntozero/css/style.css');

nav #banner #logo-text a {
	color: #ff0000;
	font-size: 32px;
}

nav #banner img {
	margin-top: 5px;
}
.wall-item-content-wrapper {
	border: none;
}

.wall-item-content-wrapper.comment {
	background: #ffffff !important;
	border-left: 1px solid #EEE;
}

.wall-item-tools {
	background: none;
}
.wall-item-body a:hover {
	color: #ff6600;
}


.widget {
/*	box-shadow: 4px 4px 3px 0 #444444; */
}

.comment-edit-text-empty, .comment-edit-text-full {
	border: none;
	border-left: 1px solid #EEE;
	background: #EEEEEE;
}

.comment-edit-wrapper, .comment-wwedit-wrapper {
	background: #ffffff !important;
}

section {
	margin: 0px 32px;
}

aside {
	margin-left: 32px;
}
nav {
	margin-left: 32px;
	margin-right: 32px;
}

nav #site-location {
	top: 80px;
	right: 36px;
}

#profile-jot-text_parent, .mceLayout {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 4px 4px 3px 0 #444444;
}

#profile-jot-text:hover {
	color: #000000;
}

#events-reminder {
	border-radius: 3px;
	-moz-border-radius: 3px;
	opacity: 0.3;
	filter:alpha(opacity=30);
	margin-left: 5px;
	margin-top: 5px;
}

#events-reminder.birthday-today, #events-reminder.event-today {
	opacity: 1.0;
	filter:alpha(opacity=100);
	box-shadow: 4px 4px 3px 0 #444444;
	margin-left: 0px;
	margin-top: 0px;
}

#events-reminder:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
	box-shadow: 4px 4px 3px 0 #444444;
	margin-left: 0px;
	margin-top: 0px;
}

.fc-event-skin {
	background-color: #3465a4 !important;
}
.wall-item-photo, .photo, .contact-block-img, .my-comment-photo {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 4px 4px 3px 0 #444444;
}

#sidebar-page-list img {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 4px 4px 3px 0 #444444;
}

#datebrowse-sidebar select {
	margin-left: 25px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	opacity: 0.3;
	filter:alpha(opacity=30);
}

#datebrowse-sidebar select:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

#posted-date-selector {
	margin-left: 30px !important;
	margin-top: 5px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}


#posted-date-selector:hover {
	box-shadow: 4px 4px 3px 0 #444444;
	margin-left: 25px !important;
	margin-top: 0px !important;
	margin-right: 5px !important;
	margin-bottom: 5px !important;

}

.contact-entry-photo img, .profile-match-photo img, #photo-photo img, .directory-photo-img, .photo-album-photo, .photo-top-photo, .profile-jot-text, .group-selected, .nets-selected, .fileas-selected, #profile-jot-submit, .categories-selected {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 4px 4px 3px 0 #444444;
}

.settings-widget .selected {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 4px 4px 3px 0 #444444;
	margin-left: -4px;
}

#sidebar-page-list .label {
	margin-left: 5px;
}


.photo {
	border: 1px solid #AAAAAA;
}

.photo-top-photo, .photo-album-photo {
	padding: 10px;
	max-width: 300px;
	border: 1px solid #888888;
}

.rotleft1 {
-webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
}

.rotleft2 {
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
}

.rotleft3 {
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
}

.rotleft4 {
-webkit-transform: rotate(-4deg);
-moz-transform: rotate(-4deg);
-ms-transform: rotate(-4deg);
-o-transform: rotate(-4deg);
}

.rotright1 {
-webkit-transform: rotate(1deg);
-moz-transform: rotate(1deg);
-ms-transform: rotate(1deg);
-o-transform: rotate(1deg);
}

.rotright2 {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
-ms-transform: rotate(2deg);
-o-transform: rotate(2deg);
}

.rotright3 {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-ms-transform: rotate(3deg);
-o-transform: rotate(3deg);
}

.rotright4 {
-webkit-transform: rotate(4deg);
-moz-transform: rotate(4deg);
-ms-transform: rotate(4deg);
-o-transform: rotate(4deg);
}


/*
.jslider .jslider-scale ins {
    color: #333;
	font-size: 12px;
	width: 100px;
	text-align: center;
}

.slider {
	margin-top: 10px;
	margin-bottom: 15px;
	height: 32px; 
}

#main-slider {
	position: relative; 
	left: 10%; 
	width: 90%;
}

#contact-slider {
	position: relative; 
	left: 10%; 
	width: 90%;

}
*/