body {
	margin: 0px;
	padding: 0px;
	font-family: freesans,helvetica,arial,clean,sans-serif;
	font-size: 16px;
}
img {  border: 0 none; }

a { color: #3465a4; text-decoration: none; margin-bottom:1px;}
a:hover { color: #729fcf; padding-bottom: 0px; border-bottom: 1px dotted #729fcf;}


.required { display: inline; color: #ff0000;}
.fakelink { color: #3465a4; cursor: pointer; }
.fakelink :hover{ color: #729fcf; }

input[type=submit] {
	margin-top: 20px;
	height: 22px;
	background-color: #555753;
	color: #eeeeec;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;	
}

.smalltext { font-size: 0.7em }

#panel {
	position: absolute;
	font-size:0.8em;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ffffff;
	background-color: #2e3436;
	color: #eeeeec;
	padding:1em;
}

.pager {
	padding-top: 30px;
	display:block;
	clear: both;
	text-align: center;
}

.pager span { padding: 4px; margin:4px; }
.pager_current { background-color: #729fcf; color: #ffffff; }

/**
 * 	login
 */
#login-extra-links a { margin-right: 20px; }

/*********
* nav
*********/

nav {
	height: 50px;
	display: block;
	background-color: #2e3436;
	color: #eeeeec;
	position: relative;
	padding: 0px 10%;
}
nav a { text-decoration: none;	color: #eeeeec; border:0px;}
nav a:hover { text-decoration: none;	color: #eeeeec; border:0px;}

nav #banner {
	display: block;
	position: absolute;
	margin-left: 20px;	
}
nav #banner #logo-text a {
	font-size: 40px;
	font-weight: bold;
	margin-left: 3px;
}

nav #user-menu {
    display: block;	
	width: auto;
    float: right;
    margin-top: 22px;
    margin-right: 10px;
    position: relative;
    vertical-align: middle;

	background-color: #555753;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    
    background: #555753 url("menu-user-pin.jpg") 98% center no-repeat;
}
nav #user-menu-label {
	float: left;
   	font-size: 12px;
    padding: 3px 20px 9px 5px;
    height: 10px;
}

ul#user-menu-popup {
    display: none;
    position: absolute;
    background-color: #555753;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
    top: 20px;
	left: 0px;

    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;    
    border-radius: 0px 0px 5px 5px;
    
    z-index: 10000;
}

ul#user-menu-popup li { display: block; }
ul#user-menu-popup li a { display: block; padding: 5px; }
ul#user-menu-popup li a:hover { color: #2e3436; background-color: #eeeeec; }
ul#user-menu-popup li a.nav-sep { border-top: 1px solid #eeeeec; }
nav .nav-link {
    float: right;
    display: block;
    width: 22px;
    height: 22px;
    /*border: 1px solid #eeeeec;*/
    overflow: hidden;
    margin-top: 22px;
    margin-right: 10px;
    text-indent: 50px;
    background: transparent url('icons.png') 0px 0px no-repeat; 
}

#nav-directory-link 		{ background-position: 0px -22px }
#nav-directory-link:hover	{ background-position: -22px -22px;}
#nav-search-link 			{ background-position: 0px -44px }
#nav-search-link:hover 		{ background-position: -22px -44px;}
#nav-apps-link 				{ background-position: 0px -66px }
#nav-apps-link:hover		{ background-position: -22px -66px;}
#nav-login-link 			{ background-position: 0px -88px }
#nav-login-link:hover 		{ background-position: -22px -88px;}
#nav-help-link 				{ background-position: 0px -110px }
#nav-help-link:hover 		{ background-position: -22px -110px;}


#notifications {
	height: 20px; width: 100%;
	position: absolute;
	top:-19px; left: 0px;
}
.nav-ajax-update {
	width: 30px;
	height: 19px;
	background: transparent url('notifications.png') 0px 0px no-repeat; 
	color: #ffffff;
	font-weight: bold;
	font-size: 0.8em;
	padding-top: 0.2em;
	text-align: center;
	float: left;
	margin-right: -4px;
    display: none;
}
#net-update { background-position: 0px 0px; }
#mail-update { background-position: -30px 0px; }
#notify-update { background-position: -60px 0px; }
#home-update { background-position: -90px 0px; }

#lang-select-icon {
	cursor: pointer;
	position: absolute;
	left: 0px;
	top: 0px;
}

#language-selector {
	position: absolute;
	top: 0;
	left: 16px;
}


/** sysmsg **/
#sysmsg_info{
	position:fixed; 
	bottom: 0px; right:20%; 
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	padding: 10px; 
	background-color: #fcaf3e; border:2px solid #f8911b;
	border-bottom:0px;
	padding-bottom: 50px;	
	z-index: 1000;
}
#sysmsg { 
	position:fixed; 
	bottom: 0px; right:10%; 
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	padding: 10px; 
	background-color: #fcaf3e; border:2px solid #f8911b;
	border-bottom:0px;
	padding-bottom: 50px;	
	z-index: 1000;
}
#sysmsg_info br,
#sysmsg br {
	display:block;
	margin:2px 0px;
	border-top: 1px solid #ccccce;
}



/**
* aside
**/

aside {
    position: absolute;
    right: 11%;
    width: 200px;
    font-size: 0.7em;

}
.vcard .fn { font-size: 1.7em; font-weight: bold; border-bottom: 1px solid #729fcf; padding-top: 1px;}

.vcard #profile-photo-wrapper { margin: 10px 0px }

aside h4 { font-size: 1.2em; }

aside #viewcontacts { text-align: right;}

#profile-extra-links ul { margin-left: 0px; padding-left: 0px; list-style: none; }

#dfrn-request-link {
    background: #3465A4 url('connect.png') no-repeat 95% center;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 1.2em;
    padding: 0.2em 0.5em;
}


#netsearch-box {
	margin: 30px 0px;
}

/**
* contacts block
*/
.contact-block-div { width: 50px; height: 50px; float: left; }
.contact-block-textdiv { width: 150px; height: 34px; float: left; }
#contact-block-end { clear: both; }

/**
 * jot
 **/ 
#profile-jot-text_tbl { margin-bottom: 10px; }
#profile-jot-text_ifr { width: 99.9%!important }
#profile-jot-submit-wrapper { float: right;}
#profile-jot-perms { 
 	float: right;
 	background-color: #555753;
 	height: 22px; width: 20px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px; 	
 	overflow: hidden;
 	border: 0px;
 	margin-left:2px;
}
#profile-jot-submit { 
	float: right;
	height: 22px;
	background-color: #555753;
	color: #eeeeec;
	-webkit-border-radius: 5px 0px 0px  5px;
	-moz-border-radius: 5px 0px 0px  5px;
	border-radius: 5px 0px 0px  5px;
	border: 0px;
	margin-top: 0px;
}
#character-counter {
 float: right; padding: 8px 10px; 
}
#profile-rotator-wrapper {
 float: right; 
}

.jot-tool {
	float: left;
	margin-right: 5px;
}
#profile-jot-tools-end,
#profile-jot-banner-end { clear: both; }

#profile-jot-email-wrapper {
	margin: 10px 10% 0px 10%;
	border: 1px solid #555753;
	border-bottom: 0px;
}
#profile-jot-email-label { background-color: #555753; color: #ccccce; 	padding: 5px;}
#profile-jot-email { margin: 5px; width: 90%; }
	
#profile-jot-networks {
	margin: 0px 10%;
	border: 1px solid #555753;
	border-top: 0px;
	border-bottom: 0px;
	padding: 5px;
}
#profile-jot-acl-wrapper {
	margin: 0px 10px;
	border: 1px solid #555753;
	border-top: 0px;
        display:block!important;
}
#group_allow_wrapper,
#group_deny_wrapper,
#acl-permit-outer-wrapper { width: 47%; float: left; }

#contact_allow_wrapper,
#contact_deny_wrapper,
#acl-deny-outer-wrapper { width: 47%; float: right; }

#acl-permit-text {background-color: #555753; color: #ccccce; padding: 5px; float: left;}
#jot-public {background-color: #555753; color: #ff0000; padding: 5px; float: left;}
#acl-deny-text {background-color: #555753; color: #ccccce; padding: 5px; float: left;}

#acl-permit-text-end,
#acl-deny-text-end { clear: both; }



/**
 * section
 */
section { margin: 10px 11% 0px 11%; font-size: 0.8em; padding-right: 230px;}

/** tabs **/
.tabs-wrapper {list-style: none; padding: 0px; margin: 0px; border-bottom: 1px solid #729fcf; }
.tabs-wrapper li { display: inline;}
.tabs { padding: 0px 5px; margin-right: 10px; }
.tabs:hover { background-color: #729fcf; color: #eeeeec; border: 0px; }
.tabs.active { background-color: #729fcf; color: #eeeeec; border: 0px; }


/**
 * 	items
 */
.wall-item-outside-wrapper { 
	margin-top: 50px;
}
.wall-item-outside-wrapper-end { clear: both;}
.wall-item-content-wrapper { position: relative; }
.wall-item-photo-menu { display: none;}
.wall-item-photo-menu-button {
	display:none;
	text-indent: -99999px;
	background: #555753 url("menu-user-pin.jpg") no-repeat 75px center;
	position: absolute;
	overflow: hidden;
	height: 20px; width: 90px; 
	top: 85px;	left: 0px;
	-webkit-border-radius: 0px 0px 5px  5px;
	-moz-border-radius: 0px 0px 5px  5px;
	border-radius: 0px 0px 5px  5px;
	
	
}

.wall-item-info { float: left; width: 140px; }
.wall-item-photo-wrapper { 
	width: 80px; height: 80px;  
	position: relative;
	padding: 5px;
	background-color: #555753;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}


.wall-item-tools { 
	float: right; 
	/*height: 0px;
	padding-top: 20px;
	overflow:hidden;
	background: #ffffff url("icons.png") no-repeat  -50px  -40px;*/
	filter: alpha(opacity=20);
	opacity: 0.2;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;	
}
.wall-item-tools:hover {
	/*height:auto;*/
	filter: alpha(opacity=100);
	opacity: 1;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;	
	
}

.wall-item-title { font-size: 1.2em; font-weight: bold;}
.wall-item-body { margin-left: 140px;}
.wall-item-lock-wrapper { float: right; }
.wall-item-dislike,
.wall-item-like,
.wall-item-author { clear: left; font-size: 0.8em; margin: 10px 0px 0px 140px; color: #babdb6;}
.wall-item-ago { display: inline; padding-left: 10px;} 
.wall-item-wrapper-end { clear:both; }
.wall-item-location {
	margin-top:5px;
	width: 100px;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
}
.wall-item-location .icon { float: left; }
.wall-item-location > a { margin-left: 25px;  font-size: 0.7em; display: block;}
.wall-item-location .smalltext { margin-left: 25px;  font-size: 0.7em; display: block;}
.wall-item-location > br { display: none; }

.wallwall .wwto {
    left: -10px;
    margin: 0;
    position: absolute;
    top: 65px;
    width: 30px;
    z-index: 10001;
	width: 30px;
	height: 30px;
    
}
.wallwall .wwto img { width: 30px!important; height: 30px!important;}
.wallwall .wall-item-photo-end { clear: both; }
.wall-item-arrowphoto-wrapper {
    position: absolute;
    left: 20px;
    top: 70px;
    z-index: 10002;
}

.wall-item-photo-menu {
	min-width: 92px;
	border: 2px solid #FFFFFF;
	border-top: 0px;
	background: #555753;
	position: absolute;
	left: -2px; top: 101px;
	display: none;
	z-index: 10000;
	-webkit-border-radius: 0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}
.wall-item-photo-menu ul { margin:0px; padding: 0px; list-style: none }
.wall-item-photo-menu li a { white-space: nowrap;  display: block; padding: 5px 2px; 	color: #eeeeec;	 }
.wall-item-photo-menu li a:hover { color: #555753; background: #eeeeec; }

.icon.drop,
.icon.drophide { float: left; }
#item-delete-selected {	overflow: auto;	width: 100%}
/**
 * 	comment
 */
 
 .ccollapse-wrapper { font-size: 0.9em; margin-left: 80px; }
 
.wall-item-outside-wrapper.comment { margin-left: 80px; }
.wall-item-outside-wrapper.comment .wall-item-photo { width: 40px!important; height: 40px!important;}
.wall-item-outside-wrapper.comment .wall-item-photo-wrapper {width: 40px; height: 40px; }
.wall-item-outside-wrapper.comment .wall-item-photo-menu-button {
	width: 50px; top: 45px; background-position: 35px center;
}
.wall-item-outside-wrapper.comment .wall-item-info { width: 60px; }
.wall-item-outside-wrapper.comment .wall-item-body { margin-left: 60px;}
.wall-item-outside-wrapper.comment .wall-item-author { margin-left: 60px;}

.wall-item-outside-wrapper.comment .wall-item-photo-menu {
	min-width: 50px;
	top: 60px;
}


.comment-wwedit-wrapper,
.comment-edit-wrapper { margin: 30px 0px 0px 80px;}
.comment-wwedit-wrapper img,
.comment-edit-wrapper img { width: 20px; height: 20px; }
.comment-edit-photo-link { float: left; width: 40px;}
.comment-edit-text-empty {  width: 80%; height: 20px; border: 0px; color: #babdb6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.comment-edit-text-empty:hover { color: #999999;}
.comment-edit-text-full { width: 80%; height: 6em;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;	
}
.comment-edit-submit-wrapper { width: 80%; margin-left: 40px; text-align: right; }
.comment-edit-submit {
	height: 22px;
	background-color: #555753;
	color: #eeeeec;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0px;
}

/**
 * item text style
 **/
.wall-item-body code {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 1px 1px 1px 10px;
    display: block;
    padding-left: 10px;
}

/**
 * profile
 **/
 
div[id$="text"] { font-weight: bold; border-bottom: 1px solid #cccccc; } 
div[id$="wrapper"] { height: 100%; margin-bottom: 1em; } 
div[id$="wrapper"] br { clear: left; }
#advanced-profile-with { margin-left: 200px; }

/**
 * photos
 **/
#photo-top-links {
	margin-bottom:30px;
}
.photo-album-image-wrapper,
.photo-top-image-wrapper { 
	float: left; 
	margin: 0px 10px 10px 0px;
	-moz-box-shadow: 0px 0px 5px #888;
	-webkit-box-shadow: 0px 0px 5px #888;
	box-shadow: 0px 0px 5px #888;
	background-color: #eeeeee;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	padding-bottom: 30px; 
	position:relative;
	
}

#photo-photo { max-width: 100% }
#photo-photo img { max-width: 100% }

.photo-top-image-wrapper a:hover,
#photo-photo a:hover,
.photo-album-image-wrapper a:hover { 
	border-bottom: 0px; 
}

.photo-top-photo,
.photo-album-photo {
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
 } 

.photo-top-album-name { position: absolute; bottom: 0px; padding: 0px 5px;} 
.caption { position: absolute; bottom: 0px; margin: 0px 5px}


#photo-photo{
	position: relative;
	float:left;
}
#photo-photo-end { clear: both; }
#photo-prev-link,
#photo-next-link{
	position: absolute;
	width:30%;
	height: 100%;
	background-color: rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-position: center center;
	background-repeat: no-repeat;
	
}
#photo-prev-link { left:0px; top:0px; background-image: url('prev.png'); }
#photo-next-link { right:0px; top:0px; background-image: url('next.png');}

#photo-prev-link a,
#photo-next-link a{
 display: block; width: 100%; height: 100%;
 overflow: hidden;
 text-indent: -900000px;		 
}

#photo-prev-link:hover,
#photo-next-link:hover{
	opacity: 1;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;		
}

#photo-next-link .icon,
#photo-prev-link .icon { display: none }

#photos-upload-spacer,
#photos-upload-new-wrapper,
#photos-upload-exist-wrapper { margin-bottom: 1em; }
#photos-upload-existing-album-text,
#photos-upload-newalbum-div { 
	background-color: #555753;
	color: #eeeeec;
	padding: 1px;
}
#photos-upload-album-select,
#photos-upload-newalbum { width: 99% }
#photos-upload-perms-menu { text-align: right; }

/**
 * 	message
 */
.prvmail-text { width: 100%;}
#prvmail-subject { width: 100%;}
#prvmail-submit-wrapper { margin-top: 10px; }
#prvmail-submit {
	float: right;
	margin-top: 0px;
}
#prvmail-submit-wrapper > div {
	margin-right: 5px;
	float: left;
}
.mail-list-outside-wrapper { margin-top: 20px;}
.mail-list-sender {	float: left; }
.mail-list-detail {	margin-left: 90px; }
.mail-list-sender-name { display: inline; }
.mail-list-date { display: inline; font-size: 0.8em; padding-left: 10px;}
.mail-list-subject { font-size: 1.5em;}
.mail-list-delete-wrapper { float: right; }
.mail-list-outside-wrapper-end { clear: both;}

.mail-conv-sender {float: left; margin: 0px 5px 5px 0px }
.mail-conv-sender-photo { width: 32px; height: 32px }
.mail-conv-sender-name { float: left }
.mail-conv-date { float: right }
.mail-conv-subject { clear: right; font-weight: bold; font-size: 1.2em }
.mail-conv-body { clear: both; }
.mail-conv-delete-wrapper { margin-top: 5px; }


/**
 * 	contacts
 */

.view-contact-wrapper,
.contact-entry-wrapper { float: left; margin-right: 20px; margin-bottom: 20px; width: 120px; height: 120px; position: relative;}
.contact-entry-direction-wrapper {position: absolute; top: 20px;}
.contact-entry-edit-links { position: absolute; top: 60px; }
.contact-entry-photo {
	margin-left:20px;
}
.contact-entry-name { width: 120px; overflow: hidden; }
.contact-entry-photo {
	position: relative;
}

.contact-entry-edit-links .icon {	
	border: 1px solid #babdb6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
	background-color: #ffffff;
}

#contact-edit-banner-name { font-size: 1.5em; }
#contact-edit-photo-wrapper {position: relative; float: left; padding: 20px;}
#contact-edit-direction-icon { position: absolute; top: 60px; left:0px;}
#contact-edit-nav-wrapper { margin-left: 210px; }
#contact-edit-links { float: left; margin-top: 23px; }
#contact-drop-links { margin-left: 5px; }
#contact-edit-nav-wrapper .icon {
	border: 1px solid #babdb6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
}
#contact-edit-poll-wrapper { margin-left: 50px; }
#contact-edit-last-update-text { margin-bottom: 15px; }
#contact-edit-last-updated { font-weight: bold; }
#contact-edit-poll-text { display: inline; }
#contact-edit-end { clear: both; margin-bottom: 65px;}

.contact-photo-menu-button {
       position: absolute;
       background-image: url("photo-menu.jpg");
       background-position: top left; 
       background-repeat: no-repeat;
       margin: 0px; padding: 0px;
       width: 16px;
       height: 16px;
       top: 64px; left:0px;
       overflow: hidden;
       text-indent: 40px;
       display: none;
       
}
.contact-photo-menu {
       width: auto;
       border: 2px solid #444444;
       background: #FFFFFF;
       position: absolute;
       left: 0px; top: 90px;
       display: none;
       z-index: 10000;
}
.contact-photo-menu ul { margin:0px; padding: 0px; list-style: none }
.contact-photo-menu li a { display: block; padding: 2px; }
.contact-photo-menu li a:hover { color: #FFFFFF; background: #3465A4; text-decoration: none; }



/**
 * 	register, settings & profile forms
 */
#id_openid_url,
.openid {
   background: url(login-bg.gif) no-repeat;
   background-position: 0 50%;
   padding-left: 18px;
}
 
#settings-nickname-desc {
	background-color: #DDEFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
}

#register-form div,
#profile-edit-form div { 
	clear: both;
}

#register-form label,
#profile-edit-form label {
	width: 300px; float: left;
}

#register-form span,
#profile-edit-form span  {
	color: #555753;
	display:block;
	margin-bottom: 20px;
}
.settings-submit-wrapper,
.profile-edit-submit-wrapper { margin: 30px 0px;}
.profile-listing { float: left; margin: 20px 20px 0px 0px}

#profile-edit-links ul { margin: 20px 0px; padding: 0px; list-style: none; }


#register-sitename { display: inline; font-weight: bold;}

/**
 * 	contacts selector
 */
#group-edit-desc { margin: 10px 0xp; }
#group-members,
#prof-members {
	height: 200px; 
	overflow: auto;
	border: 1px solid #555753;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
#group-all-contacts,
#prof-all-contacts { 
	height: 200px;
    overflow: auto;	
	border: 1px solid #555753;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
}
#group-members h3,
#group-all-contacts h3,
#prof-members h3,
#prof-all-contacts h3{
	color: #eeeeec;
	background-color: #555753;
	margin: 0px;
	padding: 5px;
}
#group-separator,
#prof-separator { display: none;}

/**
 * profile
 */
#cropimage-wrapper { float:left; }
#crop-image-form { clear:both; }

/**
 * events
 **/
 
.clear { clear: both; }
.eventcal {
	float: left;
	font-size: 20px;
}

.vevent {
	border: 1px solid #CCCCCC;
}
.vevent .event-description, .vevent .event-location {
	margin-left: 10px;
	margin-right: 10px;
}
.vevent .event-start {
	margin-left: 10px;
	margin-right: 10px;
}

#new-event-link {
	margin-bottom: 10px;
}

.edit-event-link, .plink-event-link {
	float: left;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 15px;
}

.event-description:before {
	content: url('../../../images/calendar.png');
	margin-right: 15px;
}

.event-start, .event-end {
	margin-left: 10px;
	width: 330px;
}

.event-start .dtstart, .event-end .dtend {
	float: right;
}

.event-list-date {
	margin-bottom: 10px;
}

.prevcal, .nextcal {
	float: left;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 64px;
}
.event-calendar-end {
	clear: both;
}

 
.calendar {
	font-family: Courier, monospace;
}
.today {
	font-weight: bold;
	color: #FF0000;
} 
 
#event-start-text, 
#event-finish-text {
	margin-top: 10px;
	margin-bottom: 5px;
}

#event-nofinish-checkbox, 
#event-nofinish-text, 
#event-adjust-checkbox, 
#event-adjust-text,
#event-share-checkbox
{
	float: left;
}
#event-datetime-break {
	margin-bottom: 10px;
}

#event-nofinish-break, 
#event-adjust-break,
#event-share-break {
	clear: both;
}

#event-desc-text, 
#event-location-text {
	margin-top: 10px;
	margin-bottom: 5px;
}
#event-submit {
	margin-top: 10px;
}

/**
 * 	directory
 */
.directory-item {float: left; margin: 50px 50px 0px 0px;}

/**
 * ADMIN
 */
#pending-update {
	float:right;
	color: #ffffff;
	font-weight: bold;
	background-color: #FF0000;
	padding: 0em 0.3em;
}
.admin.linklist {
	border: 0px; padding: 0px;
}
.admin.link {
	list-style-position: inside;
}

#adminpage dl {
	clear: left;
	margin-bottom: 2px;
	padding-bottom: 2px;
	border-bottom: 1px solid black;
}
#adminpage dt {
	width: 200px;
	float: left;
	font-weight: bold;
}
#adminpage dd {
	margin-left: 200px;
}
#adminpage h3 {
	border-bottom: 1px solid #cccccc;
}

#adminpage .submit {
	clear:left;
}

#adminpage #pluginslist {
	margin: 0px; padding: 0px;
}
#adminpage .plugin {
	list-style: none;
	display: block;
	border: 1px solid #888888;
	padding: 1em;
	margin-bottom: 5px;
	clear: left;
}
#adminpage .toggleplugin {
	float:left;
	margin-right: 1em;
}

#adminpage table {width:100%; border-bottom: 1p solid #000000; margin: 5px 0px;}
#adminpage table th { text-align: left;}
#adminpage td .icon { float: left;}
#adminpage table#users img { width: 16px; height: 16px; }
#adminpage table tr:hover { background-color: #bbc7d7; }
#adminpage .selectall { text-align: right; }

/**
 * Form fields
 */
.field {
	margin-bottom: 10px;
	padding-bottom: 10px;
	overflow: auto;
	width: 100%
}

.field label {
	float: left;
	width: 200px;
}

.field input,
.field textarea {
	width: 400px;
}
.field textarea { height: 100px; }
.field_help {
	display: block;
	margin-left: 200px;
	color: #666666;
	
}


.field .onoff {
	float: left;
	width: 80px;
}
.field .onoff a {
	display: block;
	border:1px solid #666666;
	background-image:url("../../../images/onoff.jpg");
	background-repeat: no-repeat;
	padding: 4px 2px 2px 2px;
	height: 16px;
	text-decoration: none;
}
.field .onoff .off {
	border-color:#666666;
	padding-left: 40px;
	background-position: left center;
	background-color: #cccccc;
	color: #666666;
	text-align: right;
}
.field .onoff .on {
	border-color:#204A87;
	padding-right: 40px;
	background-position: right center;
	background-color: #3465A4;
	color: #FFFFFF;
	text-align: left;
}
.hidden { display: none!important; }

.field.radio .field_help { margin-left: 0px; }

/**
 * ICONS
 */
.icon {
	display: block; width: 20px; height: 20px;
	background-image: url('icons.png');
}
/*.icon:hover {
	border-bottom: 0px;
}*/


.border {
	border: 1px solid #babdb6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;	
}

.article	{ background-position: -50px  0px;}
.audio 		{ background-position: -70px  0px;}
.block 		{ background-position: -90px  0px;}
.drop 		{ background-position: -110px 0px;}
.drophide 	{ background-position: -130px 0px;}
.edit 		{ background-position: -150px 0px;}
.camera 	{ background-position: -170px 0px;}
.dislike 	{ background-position: -190px 0px;}
.like 		{ background-position: -210px 0px;}
.link 		{ background-position: -230px 0px;}

.globe 		{ background-position: -50px  -20px;}
.noglobe 	{ background-position: -70px  -20px;}
.no 		{ background-position: -90px  -20px;}
.pause 		{ background-position: -110px -20px;}
.play 		{ background-position: -130px -20px;}
.pencil 	{ background-position: -150px -20px;}
.small-pencil	{ background-position: -170px -20px;}
.recycle 	{ background-position: -190px -20px;}
.remote-link	{ background-position: -210px -20px;}
.share 		{ background-position: -230px -20px;}

.tools 		{ background-position: -50px  -40px;}
.lock 		{ background-position: -70px  -40px;}
.unlock 	{ background-position: -90px  -40px;}
.video 		{ background-position: -110px -40px;}
.youtube 	{ background-position: -130px -40px;}

.attach 	{ background-position: -190px -40px;}
.language 	{ background-position: -210px -40px;}


.on 		{ background-position: -50px  -60px;}
.off 		{ background-position: -70px  -60px;}
.prev 		{ background-position: -90px  -60px;}
.next 		{ background-position: -110px  -60px;}


.icon.dim { opacity: 0.3;filter:alpha(opacity=30); }

.attachtype {
	display: block; width: 20px; height: 23px;
	background-image: url('../../../images/content-types.png');
}

.type-video { background-position: 0px 0px; }
.type-image { background-position: -20px 0px; }
.type-audio { background-position: -40px 0px; }
.type-text  { background-position: -60px 0px; }
.type-unkn  { background-position: -80px 0px; }



/**
 * 	footer
 */                                  
 .cc-license { margin-top: 100px; font-size: 0.7em; }                                  
footer { display: block; margin: 50px 20%; clear: both; }
                                  
#profile-jot-text {
    height: 20px;
    color:#cccccc;
    border: 1px solid #cccccc;
}
/** acl **/
#photo-edit-perms-select,
#photos-upload-permissions-wrapper,
#profile-jot-acl-wrapper{
	display:block!important;
}

#acl-wrapper {
	width: 690px;
	float:left;
}
#acl-search {
	float:right;
	background: #ffffff url("../../../images/search_18.png") no-repeat right center;
	padding-right:20px;
}
#acl-showall {
	float: left;
	display: block;
	width: auto;
	height: 18px;
	background-color: #cccccc;
	background-image: url("../../../images/show_all_off.png");
	background-position: 7px 7px;
	background-repeat: no-repeat;
	padding: 7px 10px 7px 30px;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #999999;
}
#acl-showall.selected {
	color: #000000;
	background-color: #ff9900;
	background-image: url("../../../images/show_all_on.png");
}

#acl-list {
	height: 210px;
	border: 1px solid #cccccc;
	clear: both;
	margin-top: 30px;
	overflow: auto;
}
#acl-list-content {
}
.acl-list-item {
	display: block;
	width: 150px;
	height: 30px;
	border: 1px solid #cccccc;
	margin: 5px;
	float: left;
}
.acl-list-item img{
	width:22px;
	height: 22px;
	float: left;
	margin: 4px;
}
.acl-list-item p { height: 12px; font-size: 10px; margin: 0px; padding: 2px 0px 1px; overflow: hidden;}
.acl-list-item a { 
	font-size: 8px;
	display: block;
	width: 40px;
	height: 10px;
	float: left;
	color: #999999;
	background-color: #cccccc;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	margin-right: 5px;
	-webkit-border-radius: 2px ;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-left: 15px;
}
#acl-wrapper a:hover {
	text-decoration: none;
	color:#000000;
}
.acl-button-show { background-image: url("../../../images/show_off.png"); }
.acl-button-hide { background-image: url("../../../images/hide_off.png"); }

.acl-button-show.selected {
	color: #000000;
	background-color: #9ade00;
	background-image: url("../../../images/show_on.png");
}
.acl-button-hide.selected {
	color: #000000;
	background-color: #ff4141;
	background-image: url("../../../images/hide_on.png");
}
.acl-list-item.groupshow { border-color: #9ade00; }
.acl-list-item.grouphide { border-color: #ff4141; }
/** /acl **/


