@import url('../greenzero/style.css');
body {background-image:none;

}

.wall-item-content-wrapper {
	  border-top: 1px solid #ccc;
//border-top:none;
border-left:none;
border-right:none;
border-radius:0px;
//border:none;
	//background: #f8f8f8 !important;
}

.wall-item-content-wrapper.comment {
	// background: #f8f8f8 !important;
	// border-left: 1px solid #ccc;
	 border-top: 1px solid #ccc;
border-left:none;
border-right:none;
border-radius:0px;
 }

 .wall-item-tools {
// border-top: 1px solid #ccc;	
//  background: #f8f8f8 !important;
background: #ffffff !important;
 }

.comment-edit-text-empty, .comment-edit-text-full {
	border: 1px solid #ccc;
	border-left: 1px solid #EEE;
	background: #ffffff;
}

.comment-edit-wrapper, .comment-wwedit-wrapper {
	// background: #ffffff; !important;
//background: #f8f8f8 !important;
}





section {
	 margin: 0px 10%;
margin-right:12%;
	background-image:none;
}

aside {
	margin-left: 10%;
	background-image:none;
}
nav {
	margin-left: 32px;
	margin-right: 5%;

}

nav #site-location {
	top: 80px;
	right: 5%;

}

.wall-item-photo, .photo, .contact-block-img, .my-comment-photo {
	border-radius: 3px;
	-moz-border-radius: 3px;
}

.tabs {	background-image:none; 

}
.tab.active {
	padding: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	border: 1px solid #CCCCCC;
	//background: #F8F8F8;
	font-weight: bold;
}
.tab { margin-right: 1px ;

}

#group-sidebar {
	margin-bottom: 10px;
	border:none;
}

#nets-sidebar {
	margin-bottom: 10px;
	border:none;
}

#saved-search-list {
	border:none;
}
blockquote {
	//background-color: #f8f8f8;
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	
	border-radius: 3px;
}
.widget { 
border: none;
}


.wall-item-content {
max-height: 20000px;
overflow: none;
}

.nav-commlink, .nav-login-link {
margin-top: 67px;
height: 15px;
float:left;
padding: 6px 3px;
}

nav .nav-link {
	//float: left;
}