@import url('../loozah/style.css');

footer {
	background: #CCC;
}

#banner {
	color: #444444;
}

body { 
	background: #FFFFFF;
	color: #000000;
}
.nav-selected {
	background: #FFFFFF !important;
	color: #888888 !important;
}

input:hover {
	background-color: #CCCCCC;
	color: #000000;
	border: 1px solid #FFFFFF;
}

input, select {
	background-color: #FFFFFF;
	color: #000000;
}
.nav-link:hover, .nav-commlink:hover {
	background: #DDDDDD;
	color: #0000EE;
}
option {
	background-color: #FFFFFF;
}
#page-footer {
	border: none;
}

nav {
	background: #F4F4F4;
}

body { 
	background: #FFFFFF;
	color: #444444;
}

.nav-link {
	color: #444444;
	background: #EEE;
	border: 2px solid #CCCCCC;
}

.nav-commlink {
	color: #444444;
	background: #EEE;
	border: 2px solid #CCCCCC;
}

.tab {
	color: #444444;
	background: #EEE;

}

a, a:visited {
	color: #8888FF;
	text-decoration: none;
}

a:hover {
	color: #0000FF;
	text-decoration: underline;
}

.fakelink, .fakelink:visited {
	color: #8888FF;
}

.fakelink:hover {
	color: #0000FF;
}

.wall-item-content-wrapper {
	border: 1px solid #CCC;
}

.wall-item-content-wrapper.comment {
	background: #CCC;
}

.comment-edit-wrapper {
	background: #CCC;
}

.comment-wwedit-wrapper {
	background: #CCC;
}

#photos-upload-perms-menu, #photos-upload-perms-menu:visited {
	color: #8888FF;
}

#photos-upload-perms-menu:hover {
	color: #0000FF;
}
#settings-default-perms-menu, #settings-default-perms-menu:visited {
	color: #8888FF;
}

#settings-default-perms-menu:hover {
	color: #0000FF;
}
