body {
	font-family: 'Ubuntu',Tahoma,Helvetica,Arial,sans-serif;
	color: #111111; 
		text-align: center;
	  padding:0 0 22px 0; 
}

 div#header{
  position:absolute;
  z-index: 100;
  top:0;
  left:0;
  width:100%;
  height: 55px;
  	background: rgba(100, 0, 0, 0.8);
  	    background-size:3000px 55px;
  	color: #fff;
  	display:none;
 }
 
 @media screen{
  body>div#header{
   position: fixed;
  }
   body>div#footer{
   position:fixed;
  }
 
 }

 
  div#footer{
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  height:22px;
  background: #AD002C;
  color: #fff;
}

#intro-text {
color:#c60032;font-size:1.2em;width:70%;margin-right:auto;margin-left:auto;text-align:justify;
}
div.section-text {
color:#c60032;font-size:1.2em;width:80%;margin-right:auto;margin-left:auto;text-align:justify;
}

#tagline {
	color: #c60032;
	width:80%;
	margin-top:0px;
	margin-bottom:20px;
	margin-left: auto; 
	margin-right: auto; 
}

div.red-button {
	width:150px;
	margin-left: auto; 
	margin-right: auto; 
	font-weight: 500;
	font-size: larger;
	background-color: #c60032;
	border: 2px solid lightgray;
	border-radius: 5px;
	padding: 12px;
}
div.red-button a {
	text-decoration: none;
	color:#FFFFFF;
}
div.red-button a:hover {
	text-decoration: none;
	font-weight:600;
	
}

#footer {
	font-size: 12px;
	color:#fff;
	padding-top: 4px;
}

#footer a {
	text-decoration: none;
	color:#fff;
}
.bg {
 display:none;
}
.bg2 {
 display:none;
}
.bg-mask {
 display:none;
}

#bg-narrow {
  background: url('diamondlattice.png') center center no-repeat ;	
  opacity: 0.05;
  position:absolute;
  top:0;
  left:0;
    z-index: -1;
  width:100%;
  height:300%;
  display:none;
}

div.summary-nodes-container {
    display:none;
}
div.summary-menu-container {
    display:block;
}
a.summary-menu-item {
	display: block;
	width:70%;
	margin-left:auto;margin-right:auto;
	border-radius:10px;
	color:#FFFFFF;
	font-size:1.2em;
	text-align:center;
	background:#c60032;
	margin-bottom:5px;
}
a.summary-menu-item:hover{
	color:#FFFFFF;
	text-decoration:none;
	background:#550000
}


div#menubutton1 {
	position: fixed; 
	top:10px;
	left:200px;
	width:150px;
	height:30px;
	border-radius:10px;
	color:#FFFFFF;
	/* line-height:100px; */
	text-align:center;
	background:#c60032;
	display: none;
	z-index:200;
}
div#menubutton1:hover {
	color:#FFFFFF;
	text-decoration:none;
	background:#550000
}
div#menubutton2 {
	position: fixed; 
	top:10px;
	left:350px;
	width:150px;
	height:30px;
	border-radius:10px;
	color:#FFFFFF;
	/* line-height:100px; */
	text-align:center;
	background:#c60032;
	display: none;
	z-index:200;
}
div#menubutton2:hover {
	color:#FFFFFF;
	text-decoration:none;
	background:#550000
}
div#menubutton3 {
	position: fixed; 
	top:10px;
	right:350px;
	width:150px;
	height:30px;
	border-radius:10px;
	color:#FFFFFF;
	/* line-height:100px; */
	text-align:center;
	background:#c60032;
	display: none;
	z-index:200;
}
div#menubutton3:hover {
	color:#FFFFFF;
	text-decoration:none;
	background:#550000
}
div#menubutton4 {
	position: fixed; 
	top:10px;
	right:200px;
	width:150px;
	height:30px;
	border-radius:10px;
	color:#FFFFFF;
	/* line-height:100px; */
	text-align:center;
	background:#c60032;
	display: none;
	z-index:200;
}
div#menubutton4:hover {
	color:#FFFFFF;
	text-decoration:none;
	background:#550000
}
div.section-heading {
	font-size:2.0em;
	color:#c60032;
}
div.section-subtitle {
	font-size:1.5em;
	color:#c60032;
}