@import url('../duepuntozero/style.css');

.wall-item-content-wrapper {
	border: none;
}

.wall-item-content-wrapper.comment {
	background: #ffffff !important;
	border-left: 1px solid #EEE;
}

.wall-item-tools {
	background: none;
}

.comment-edit-text-empty, .comment-edit-text-full {
	border: none;
	border-left: 1px solid #EEE;
	background: #EEEEEE;
}

.comment-edit-wrapper, .comment-wwedit-wrapper {
	background: #ffffff !important;
}

section {
	margin: 0px 32px;
}

aside {
	margin-left: 32px;
}
nav {
	margin-left: 32px;
	margin-right: 32px;
}

nav #site-location {
	top: 80px;
	right: 36px;
}

#profile-jot-text_parent, .mceLayout {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 3px 3px 10px 0 #000000;
}

.fc-event-skin {
	background-color: #3465a4 !important;
}
.wall-item-photo, .photo, .contact-block-img, .my-comment-photo {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 3px 3px 10px 0 #000000;
}

#sidebar-page-list img {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 3px 3px 10px -2px #000000;
}

.contact-entry-photo img, .profile-match-photo img, #photo-photo img, .directory-photo-img, .photo-album-photo, .photo-top-photo, .fc, .profile-jot-text, .group-selected, .nets-selected, .fileas-selected, #profile-jot-submit, .categories-selected {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 3px 3px 10px 0 #000000;
}

.photo-top-photo, .photo-album-photo {
	padding: 10px;
	max-width: 300px;
}

.rotleft1 {
-webkit-transform: rotate(-1deg);
-moz-transform: rotate(-1deg);
-ms-transform: rotate(-1deg);
-o-transform: rotate(-1deg);
}

.rotleft2 {
-webkit-transform: rotate(-2deg);
-moz-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
-o-transform: rotate(-2deg);
}

.rotleft3 {
-webkit-transform: rotate(-3deg);
-moz-transform: rotate(-3deg);
-ms-transform: rotate(-3deg);
-o-transform: rotate(-3deg);
}

.rotleft4 {
-webkit-transform: rotate(-4deg);
-moz-transform: rotate(-4deg);
-ms-transform: rotate(-4deg);
-o-transform: rotate(-4deg);
}

.rotright1 {
-webkit-transform: rotate(1deg);
-moz-transform: rotate(1deg);
-ms-transform: rotate(1deg);
-o-transform: rotate(1deg);
}

.rotright2 {
-webkit-transform: rotate(2deg);
-moz-transform: rotate(2deg);
-ms-transform: rotate(2deg);
-o-transform: rotate(2deg);
}

.rotright3 {
-webkit-transform: rotate(3deg);
-moz-transform: rotate(3deg);
-ms-transform: rotate(3deg);
-o-transform: rotate(3deg);
}

.rotright4 {
-webkit-transform: rotate(4deg);
-moz-transform: rotate(4deg);
-ms-transform: rotate(4deg);
-o-transform: rotate(4deg);
}

