@import url('../duepuntozero/style.css');

.wall-item-content-wrapper {
	border: none;
}

.wall-item-content-wrapper.comment {
	background: #ffffff !important;
	border-left: 1px solid #EEE;
}

.wall-item-tools {
	background: none;
}

.comment-edit-text-empty, .comment-edit-text-full {
	border: none;
	border-left: 1px solid #EEE;
	background: #EEEEEE;
}

.comment-edit-wrapper, .comment-wwedit-wrapper {
	background: #ffffff !important;
}

section {
	margin: 0px 32px;
}

aside {
	margin-left: 32px;
}
nav {
	margin-left: 32px;
	margin-right: 32px;
}

nav #site-location {
	top: 80px;
	right: 36px;
}

.wall-item-photo, .photo, .contact-block-img, .my-comment-photo {
	border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 3px 3px 10px 0 #000000;
}