/**
 * Fabio Comuni <http://kirgroup.com/profile/fabrixxm>
 **/
/* fonts */
/* global */
body {
  font-family: Liberation Sans, helvetica, arial, clean, sans-serif;
  font-size: 12px;
  background-color: #FFFFFF;
  color: #2d2d2d;
  margin: 0px;
}
a, a:visited, a:link {
  color: #005c94;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.left {
  float: left;
}
.right {
  float: right;
}
/* icons */
.icon {
  background-color: transparent ;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}
.icon.s22 {
  width: 22px;
  height: 22px;
  padding: 1px;
}
.icon.s22.notify {
  background-image: url("../../../images/icons/notify_off_22.png");
}
.icon.s22.gear {
  background-image: url("../../../images/icons/gear_22.png");
}
/* header */
header {
  position: fixed;
  left: 0px;
  top: 0px;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 12px;
  color: #FFFFFF;
}
header #site-location {
  /*font-size:8px;
		float:left;
		background-color: @Metalic3;
		padding: 1px 5px;
		margin-left: 20px;
		.roundbottom()*/

  display: none;
}
/* nav */
nav {
  width: 100%;
  height: 32px;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #0e232e;
  color: #FFFFFF;
}
nav a,
nav a:active,
nav a:visited,
nav a:link,
nav a:hover {
  color: #FFFFFF;
  text-decoration: none;
  outline: none;
}
nav ul {
  margin: 0px;
  padding: 0px 20px;
}
nav ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
nav ul li .menu-popup {
  left: 0px;
  right: auto;
}
nav .nav-menu-icon {
  position: relative;
  height: 22px;
  padding: 5px;
  margin: 0px 10px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
nav .nav-menu-icon.selected {
  background-color: #364e59;
}
nav .nav-menu-icon img {
  width: 22px;
  height: 22px;
}
nav .nav-menu-icon .nav-notify {
  top: 3px;
}
nav .nav-menu {
  position: relative;
  height: 16px;
  padding: 5px;
  margin: 3px 15px 0px;
  font-size: 14px;
  border-bottom: 3px solid #0e232e;
}
nav .nav-menu.selected {
  border-bottom: 3px solid #9eabb0;
}
nav .nav-notify {
  display: none;
  position: absolute;
  background-color: #19aeff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  font-size: 10px;
  padding: 1px 3px;
  top: 0px;
  right: -10px;
  min-width: 15px;
  text-align: right;
}
nav .nav-notify.show {
  display: block;
}
nav #nav-site-link {
  float: right;
}
nav #nav-site-link .menu-popup {
  right: 0px;
  left: auto;
}
nav #nav-notifications-link.selected .icon.s22.notify {
  background-image: url("../../../images/icons/notify_on_22.png");
}
ul.menu-popup {
  position: absolute;
  display: none;
  width: auto;
  background: #FFFFFF;
  color: #2d2d2d;
  margin: 0px;
  padding: 0px;
  list-style: none;
  border: 3px solid #364e59;
  z-index: 100000;
}
ul.menu-popup a {
  display: block;
  color: #2d2d2d;
  padding: 5px 10px;
}
ul.menu-popup a:hover {
  background-color: #bdcdd4;
}
ul.menu-popup .menu-sep {
  border-top: 1px solid #9eabb0;
}
ul.menu-popup li {
  float: none;
  overflow: auto;
  height: auto;
  display: block;
}
#nav-notifications-menu {
  width: 400px;
}
#nav-notifications-menu img {
  float: left;
  margin-right: 5px;
}
#nav-notifications-menu .contactname {
  font-weight: bold;
}
#nav-notifications-menu .notif-when {
  font-size: 10px;
  color: #9eabb0;
  display: block;
}
/* aside */
/* section */
