@import url('../duepuntozero/style.css');

/* dark variation Fabio Comuni <fabrix.xm@gmail.com> */

a:link, a:visited { color: #99CCFF; text-decoration: none; }
a:hover {text-decoration: underline; }

input, select, textarea {
	background-color: #222222;
	color: #FFFFFF !important;
	border: 1px solid #444444;
}
.openid { background-color: #222222;}

body { 	background-color: #222222; color: #cccccc; background-image: url(head.jpg); }
aside{ 	background-image: url(border.jpg); padding-bottom: 0px; }
section { background-color: #333333;	background-image: url(border.jpg); }


.tabs {	background-image: url(head.jpg); }
div.wall-item-content-wrapper.shiny {  background-image: url('shiny.png'); }

nav #banner #logo-text a { color: #ffffff; }

.wall-item-content-wrapper { border: 1px solid #444444; }
.wall-item-tools {	background-color: #444444;   background-image: none;}
.comment-edit-wrapper{ background-color: #333333; }
.wall-item-content-wrapper.comment { background-color: #444444; border: 0px;}
.photo-top-album-name{ background-color: #333333; }
.photo-album-image-wrapper .caption { background-color: rgba(51, 51, 51, 0.8); color: #FFFFFF; }

.nav-selected.nav-link { color: #ffffff!important; border-bottom: 0px}
.nav-commlink, .nav-login-link {background-color: #b7bab3;}
.nav-commlink:link, .nav-commlink:visited,
.nav-login-link:link, .nav-login-link:visited{
	color: #ffffff;
}

.fakelink, .fakelink:visited {
	color: #99CCFF;
}

.wall-item-name-link {
	color: #99CCFF;
}

.wall-item-photo-menu li a {
	color: #CCCCCC; background-color: #333333;
}

.wall-item-photo-menu li a:hover {
	background-color: #CCCCCC; color: #333333;
}
#page-footer { min-height: 1em;}
footer {
	margin: 0px 10%;
	display: block;
	background-image: url('sectionend.jpg');
	background-position: top left;
	background-repeat: repeat-x;
	height: 25px;	
}


input#dfrn-url {
	background-color: #222222;
	color: #FFFFFF !important;
}
.pager_first a, .pager_last a, .pager_prev a, .pager_next a, .pager_n a, .pager_current {
    color: #000088;
}

#jot-perms-icon {
	float: left;
}


#jot-title {
	background-color: #333333;
	border: 1px solid #333333;
}

#jot-title::-webkit-input-placeholder{ color: #555555!important;}
#jot-title:-moz-placeholder{color: #555555!important;}
		
	
#jot-title:hover,
#jot-title:focus {
	border: 1px solid #cccccc; 
}

.wall-item-content {
	max-height: 20000px;
	overflow: none;
}
blockquote {
	background: #ddd;
	color: #000;
}
