@import url('../testbubble/style.css');

.icon {
	background-image: url('dbicons.png');
}

body {
	background: #000000;
	color: #dddddd;
}

.info-message {
	color: #444444;
}

#id_openid_url {
	background: url(../testbubble/login-bg.gif) no-repeat #ffffff;
	background-position: 0 50%;
	padding-left: 18px;
	width: 385px;
	color: #000000;
}

.vevent, .eventcal {
	color: #000000;
}
.event-list-date {
	color: #DDDDDD;
}

.fortunate {
	color: #8888FF !important;
}