body, button, input, select, textarea {color: #eec !important; background: #2e2f2e;}
.wall-item-outside-wrapper.shiny, .wall-item-content-wrapper.shiny, .shiny  {background: #2e3436;}
.wall-item-outside-wrapper, .wall-item-content-wrapper.comment {background: #2e2f2e;}
#profile-jot-text, #photo-edit-perms-select, #photos-upload-permissions-wrapper, #profile-jot-acl-wrapper, #jot #jot-title, #jot-category, .tab {background: #333; color: #eec;}
.wall-item