body {	font-family: sans-serif;
	font-size: 12px;
	background-color: #101010;
	background-image: -moz-linear-gradient(top, #000 16%, #101010 82%);
	background-image: linear-gradient(bottom, #000 16%, #101010 82%);
	background-image: -o-linear-gradient(bottom, #000 16%, #101010 82%);
	background-image: -webkit-linear-gradient(bottom, #000 16%, #101010 82%);
	background-image: -ms-linear-gradient(bottom, #000 16%, #101010 82%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #eec;
	
}

aside {
border: none;
color: #fff;
}

.fn {
  color: #fff;
}

.acl-list-item,
.profile-jot-net {
  color: #000;
}


.tab.active {
	color: #fff;
}

blockquote {color: #000;}

.wall-item-content-wrapper {
	background: #262626;
	border-radius: 5px; 
	box-shadow: 12px 12px 12px #000; 
	margin-bottom: 20px;
}

.wall-item-content-wrapper.comment {
	margin-left: 50px;
	box-shadow: 5px 5px 5px #000; 
}

.comment-edit-text-empty, .comment-edit-text-full {
	border-radius: 5px 5px 5px 5px;
	box-shadow: 5px 5px 5px #000 inset;
}


#profile-jot-text {
	height: 20px;
	color:#000;
	border: 1px solid #cccccc;
	padding: 8px;
	margin-right: 0px;
	width: 90%; 
	-moz-border-radius: 5px;
	border-radius: 5px;	
	box-shadow: 4px 4px 3px 0 #666 inset; 
}
#profile-jot-text:hover {
	color: #000000;
}

#profile-jot-submit {
    height: auto;
    background-color: #0080FF;
    color: #eeeeec;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 2px outset #222420 !important;
    margin: 0;
    float: right;
    text-shadow: 1px 1px #111;
    width: auto;
    box-shadow: 5px 5px 5px #444;
}


.widget {
	border-bottom: 1px solid #eec;
	padding: 8px;
	margin-top: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;

}

nav a,
nav a:active,
nav a:visited,
nav a:link {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.nav-menu.selected a {
  color: #0080ff !important;
}

nav .nav-menu-icon {
  position: relative;
  height: 22px;
  padding: 5px;
/*  margin: 3px 10px; */
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

nav .nav-notify {
  background-color: #0080FF;
  color: #fff;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  opacity: 0.6;
  filter:alpha(opacity=60);

}
.nav-notify:hover, nav .nav-notify.selected span {
	color: #ffffff;
}

ul.menu-popup {
  
  position: absolute;
  display: none;
  width: 10em;
  background: #000;
  color: #fff;
  padding: 0px;
  list-style: none;
  border-radius: 0px 0px 20px 20px;
  z-index: 100000;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}
ul.menu-popup a {
  display: block;
  color: #FFFFFF;
  padding: 5px 10px;
  text-decoration: none;
}


ul.menu-popup a:hover {
  background-color: #888888;
  color: #FFFFFF;
}
ul.menu-popup .menu-sep {
  border-top: 1px solid #9eabb0;
}

.wall-item-photo, 
.photo,
.contact-block-img,
.my-comment-photo {
  border-radius: 5px;
  box-shadow: 4px 4px 3px #000;
}


div#pagelist-content-wrapper {
width: 80%;
background: #111;
margin-left: auto;
margin-right: auto;
}

div.page-list-item {
margin: 20px;
}
