/* There's probably some stuff in here we don't need, and maybe some missing stuff we do need.  We can clean it up incrementaly, just get the heavy lifting done for now */

aside {
border-radius: $radiuspx;}


.tab {
    height: auto;
    background-color: #f00;
    color: #fff !important;
    font-weight: bold;
    -webkit-border-radius: $radiuspx;
    -moz-border-radius: $radiuspx;
    border-radius: $radiuspx;
    margin: 0;
    width: auto;
    margin-left: 8px;
    padding: 4px;
    text-align: center;
}
.tab:hover, .tab.active:hover {
    background: #d00;
    color: #fff; 
 ;
}
.tab:active {
    background: #fff;
    color: #f00;
}
.tab.active {
    background: #f00;
    color: #fff; 
    box-shadow: 3px 3px 3px #333 inset;
    padding: 5px; /* strageness of the human mind - has to be larger than inactive tabs, or it looks smaller than them */
}



.wall-item-content-wrapper {
	position: relative;
	border-radius: $radiuspx;
	box-shadow: 8px 8px 8px #000;
	border: 1px solid #eec;
}

.wall-item-content-wrapper.comment {
	margin-top: 15px;
}

.wall-item-like:hover, .wall-item-dislike:hover{
opacity: 1;
}

.wall-item-author {
	margin-top: 10px;
}

.comment-edit-wrapper {
	margin-top: 15px;
	background: #ffffff;
	margin-left: 50px;
}

#profile-jot-submit {
    background-color: #dd0000;
}

ul.menu-popup {
  background: #dd0000;
  color: #eec;
  border-radius: $radiuspx;
  z-index: 100000;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}
ul.menu-popup a {
  color: #eec;
}
ul.menu-popup a:hover {
  background-color: #eec;
  color: #f00;
}

section {
left: 0px;
width: 800px;
margin-left: auto;
margin-right: auto;
}
body {background-color: #d00 !important;}

.page-content-wrapper {background: #fff;
		color: #000;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #111;
}

h3.page-title {
padding-top: 30px;
		color: #033}
.page-body {padding: 40px;}

.page-body strong {color: #033;}

.nav-links {margin-top: 5px;}
