
.eventcal {
	float: left;
	font-size: 20px;
}

#event-summary-text {
	margin-top: 15px;
}

#event-share-checkbox {
	float: left;
	margin-top: 10px;
}

#event-share-text {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

#event-share-break {
	clear: both;
	margin-bottom: 10px;
}

#event-summary {
	width: 400px;
}

.vevent {
	border: 1px solid #CCCCCC;
}

.vevent .event-summary {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}

.vevent .event-description, .vevent .event-location {
	margin-left: 10px;
	margin-right: 10px;
}
.vevent .event-start {
	margin-left: 10px;
	margin-right: 10px;
}

#new-event-link {
	margin-bottom: 10px;
}

.edit-event-link, .plink-event-link {
	float: left;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 15px;
}

.event-description:before {
	content: url('../../../../images/calendar.png');
	margin-right: 15px;
}

.event-start, .event-end {
	margin-left: 10px;
	width: 330px;
	clear: both;
}

.event-start .dtstart, .event-end .dtend {
	float: right;
}

.event-list-date {
	margin-bottom: 10px;
}

.prevcal, .nextcal {
	float: left;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 64px;
}
.event-calendar-end {
	clear: both;
}

 
.calendar {
	font-family: Courier, monospace;
}
.today {
	font-weight: bold;
	color: #FF0000;
}
