 
#profile-vcard-break {
	clear: both;
}


#profile-edit-links ul {
	list-style-type: none;
}

#profile-edit-links li {
	margin-top: 10px;
}


.fn {
	padding: 0px 0px 5px 0px;
	font-size: 120%;
	font-weight: bold;
	color: #dd0000;
}

.vcard .title {
	margin-bottom: 5px;
	margin-left: 12px;
}

.vcard dl {
	clear: both;
}

#birthday-title {
	float: left;
	font-weight: bold;	
}

#birthday-adjust {
	float: left;
	font-size: 75%;
	margin-left: 10px;
}

#birthday-title-end {
	clear: both;
}

.birthday-list {
	margin-left: 15px;
}

#birthday-wrapper {
	margin-bottom: 20px;
}
