body {
background-color: #2e2f2e !important;
color: #fff !important;
}

aside {
position: relative;
float: right;
margin-right: 15px;
}

section {
right: 250px;
left: 450px;
}

.aprofile dt {
    background: none; /*#2e302e; */
    color: #eec;
    font-weight: bold;
/*    box-shadow: 1px 1px 5px 0 #111; */
    margin: 15px 0px 15px;
    padding-left: 5px;
/*    box-shadow: 5px 5px 5px #000; */
    width: 100%;
   }

.aprofile dd{
   background: #333;
   box-shadow: 5px 5px 5px #222 inset;
   border-radius: 5px 5px 5px 5px;
   margin-left: 120px;
   max-width: 100%;
   padding: 10px;
}
#profile-extra-links ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}