/*
section {
left: 0px;
width: 800px;
margin-left: auto;
margin-right: auto;
}
body {background-color: #d00 !important;}

.page-content-wrapper {background: #fff;
		color: #000;
		border-radius: 20px;
		box-shadow: 5px 5px 5px #111;
}

h3.page-title {
padding-top: 30px;
		color: #033}
.page-body {padding: 40px;}

.page-body strong {color: #033;}

.nav-links {margin-top: 5px;}
*/