#profile-edit-wrapper .field label {
	margin-top: 20px;
	width: 175px;
}

#profile-edit-wrapper .field input[type="text"] {
	margin-top: 20px;
	width: 220px;
}


#profile-edit-links {
	max-width: $converse_width;
	padding-top: 15px;
	padding-bottom: 15px;
}

#profile-edit-links .btn {
	margin: 0 10px 15px 0;
}

.profile-import {
	vertical-align: top;
	text-align: left;
}

.profile-import b {
	color: $link_colour;
}

.profile-import input {
	color: $font_colour;
	border: none;
}

#profile-edit-drop-link {
	color: #FFF;
	font-weight: normal;
}
