/* TODO - FRed only just got a directory.  These are probably all wrong.  For now, just make style.css smaller, discover what we do and don't need later */

.directory-end {
	clear: both;
}
.directory-name {
	text-align: center;
}
.directory-photo {
	margin-left: 25px;
}
.directory-details {
	font-size: 0.7em;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}
.directory-item {
	float: left;
	width: 225px;
	height: 260px;
	overflow: auto;
}

#directory-search-wrapper {
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}

#directory-search-end {
}

.directory-photo-img {
	border: none;
}