.navbar-nav > li > a {padding-top:5px !important; padding-bottom:5px !important;}
.navbar {min-height:18px !important;}
nav img {
height: 25px;
width: 25px;
margin: 2px 0px 1px 10px;
border-radius: 0px;
}
.navbar-left{height: 30px;}
.container-fluid {min-height:30px;}
.collapse .navbar-collapse {min-height:30px; max-height:30px;}
#nav-search-text {margin:5px;}
header #banner {margin-top:5px;}
nav .dropdown-menu {
top: 30px;}
nav .badge {
    position: relative;
    top: -30px;
    float: right;
    font-size: 10px;
    padding: 2px 6px;
    cursor: pointer;
}
#jGrowl.top-right {
	top: 30px;
	right: 15px;
}