/**
 * Redbasic
 *
 * Based on duepuntozero Friendica style
 * by Fabio Comuni <fabrix.xm@gmail.com>
 */


/* generals */
body {
	font-family: arial,freesans,sans-serif;
	font-size: $body_font_size;
	background-color: $bgcolour;
	background-image: url('$background_image');
	background-attachment: fixed;
	background-size: cover;
	color: $font_colour;
	margin: 0px;
}
.jslider {
	font-family: arial,freesans,sans-serif;
}

abbr {
	border-bottom: none;
}

/* icons */
.icon {
  background-color: transparent ;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

.icon.text {
  text-indent: 0px;
}

a, a:visited, a:link, .fakelink, .fakelink:visited, .fakelink:link { 
	font-weight: bold;
	color: #0080FF; 
	text-decoration: none; 
}

a:hover, .fakelink:hover { color: #44AAFF; text-decoration: underline; }

.fakelink {
	cursor: pointer;
}


input[type="text"],
input[type="password"],
input[type="submit"],
select,
textarea {
	font-family: arial,freesans,sans-serif;
	font-size: $body_font_size;
}

input {
	border: 1px solid #666666;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;	
	padding: 3px;
}

input[type="submit"] {
	background-color: #F0F0F0;
	font-weight: bold;
	color: #0080FF; 
	text-decoration: none;
}

code {
	font-family: Courier, monospace;
	display: block;
	overflow: auto;
	border: 1px solid #444;
	background: #EEE;
	color: #444;
	padding: 10px;
	margin-top: 20px; 
	max-width: 80%;
}

blockquote {
	background-color: #f4f8f9;
	border-left: 4px solid #dae4ee;
	padding: 0.4em;
	color: #000;
}

.ccollapse-wrapper {
	border: 1px solid #CCC;
	padding: 5px;
}

#panel {
	background-color: ivory;
	position: absolute;
	z-index: 2;
	width: 30%;
	padding: 25px;
	border: 1px solid #444;
}

.heart {
	color: #FF0000;
	font-size: 100%;
	margin-right: 5px;
}



#langselector {
	position: fixed; 
	top: 3px; 
	left: 5px; 
	z-index:9999;
	opacity: 0.3;
	filter:alpha(opacity=30);


}
#langselector:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

nav {
	background-image: linear-gradient(bottom, $nav_bg_1 26%, $nav_bg_2 82%);
	background-image: -o-linear-gradient(bottom, $nav_bg_1 26%, $nav_bg_2 82%);
	background-image: -moz-linear-gradient(bottom,$nav_bg_1 26%, $nav_bg_2 82%);
	background-image: -webkit-linear-gradient(bottom, $nav_bg_1 26%, $nav_bg_2 82%);
	background-image: -ms-linear-gradient(bottom, $nav_bg_1 26%, $nav_bg_2 82%);
	opacity: $nav_float_min_opacity;
	filter:alpha(opacity=$nav_percent_min_opacity);

}



nav:hover {
	background-image: linear-gradient(bottom, $nav_bg_3 26%, $nav_bg_4 82%);
	background-image: -o-linear-gradient(bottom, $nav_bg_3 26%, $nav_bg_4 82%);
	background-image: -moz-linear-gradient(bottom, $nav_bg_3 26%, $nav_bg_4 82%);
	background-image: -webkit-linear-gradient(bottom, $nav_bg_3 26%, $nav_bg_4 82%);
	background-image: -ms-linear-gradient(bottom, $nav_bg_3 26%, $nav_bg_4 82%);
	opacity: 1.0;
	filter:alpha(opacity=100);

}


nav #site-location {
	color: #888a85;
	font-size: 0.8em;
	position: absolute;
}

.error-message {
	color: #FF0000;
	font-size: 1.1em;
	border: 1px solid #FF8888;
	background-color: #FFEEEE;
	padding: 10px;
}

.info-message {
	font-size: 1.1em;
	border: 1px solid #444;
	background-color: #F0F0F0;
	padding: 10px;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;	

}


nav #banner #logo-text a {
	font-size: 40px;
	font-weight: bold;
	margin-left: 3px;
 	color: #000000;

}
nav #banner #logo-text a:hover { text-decoration: none; }

header #site-location {
  display: none;
}

header #banner {

  overflow: hidden;
  text-align: center;
  font-size: 1.4em;
  font-family: tahoma, "Lucida Sans", sans;
  color: $banner_colour;
  font-weight: bold;
  margin-top: 1px;
}
header #banner a,
header #banner a:active,
header #banner a:visited,
header #banner a:link,
header #banner a:hover {
  color: #FFF;
  text-decoration: none;
  outline: none;
  vertical-align: bottom;
}
header #banner #logo-img {
  height: 22px;
  margin-top: 5px;
}
header #banner #logo-text {
  font-size: 22px;
}

.nav-commlink, .nav-login-link  {
    display: block;
    height: 15px;
	margin-top: 67px;
	margin-right: 2px;
	padding: 6px 3px;
	float: left;
	bottom: 140px;
	border: 1px solid #babdb6;
	border-bottom: 0px;
	background-color: #aec0d3;
	color: #565854;		
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

nav .nav-link {
	float: right;
	margin: 0.2em 0em;
	padding: 0em 0.5em;
	background-color: transparent !important;
}

.nav-commlink.active {
	background-color: #ffffff;
	border-bottom: 1px solid #ffffff;
	color: #000000 !important;
	margin-top: 64px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.nav-ajax-left {
	font-size: 0.8em;
	float: left;
	margin-top: 62px;	
}


nav #nav-link-wrapper .nav-link {
	border-right: 1px solid #babdb6;
}

.tabs {
	height: 28px;
	border-bottom: 1px solid #aaaaaa;
	padding:0px;
	width: 90%; 
}

.tabs li { margin: 0px; list-style: none; }
.tab {
	display:block;
	float:left;
	margin-right: 15px ;
}

.tab.active {
	color: #444444;
}

ul.tabs {
	margin-top: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	padding: 0px;
	padding-right: 8px;
}

/* footer */

footer {
	position:fixed;
	bottom:1px;
	text-align: right;
	padding-bottom: 1em;
	padding-right: 3em; 
}

.birthday-today, .event-today {
	font-weight: bold;
}

.warning-text {
	font-size: 1.2em;
	font-weight: bold;
	color: #ff0000;
}

#noperm-msg {
	margin-top: 15px;
}

.preview {
	background: url('../img/gray_and_white_diagonal_stripes_background_seamless.gif');
}

#theme-preview {
	margin: 15px 0 15px 150px;
}

.fakebutton {
	margin-top: 15px;
	margin-bottom: 15px;
}

/*TODO: we should use one class for all this. */
.group-selected, .fileas-selected, .categories-selected, .search-selected, .active {
	color: #444444 !important;
}

.smalltext {
	font-size: 0.7em;
}

#sysmsg {
	margin-bottom: 10px;
}

#main-login {
	margin-left: 100px;
	margin-top: 50px;
}

#main-login #id_username, #main-login #id_password {
	width: 200px;
	padding: 10px;
	float: left;
}

#main-login #id_remember {
	float: left;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 0;
	width: 20px;
}

#main-login .field.checkbox label {
	margin-top: 15px;
	margin-bottom: 0;
	float: left;
	width: 100px;
}

#main-login .field_end {
	clear: both;
}

#main-login .field.input label, #main-login .field.password label {
	float: left;
	width: 100px;
}

#login_standard {
	width: 350px;
	float: left;
}


#login_standard input,
#login_openid input {
	width: 180px;
}

#login-extra-links {
	clear: both;
}

#register-link,
#lost-password-link {
	float: left;
	margin-left: 100px;
}

#login-standard-end {
	clear: both;
}

#login-submit-button {

	margin-left: 100px;
	margin-top: 10px;
}


#cropimage-wrapper, #cropimage-preview-wrapper {
	float: left;
	padding: 30px;
}

#crop-image-form {
	margin-top: 30px;
	clear: both;
}


.aprofile dt {
	font-weight: bold;
}
#page-profile .title {
	font-weight: bold;
}


#profile-vcard-break {
	clear: both;
}


#profile-edit-links ul {
	list-style-type: none;
}

#profile-edit-links li {
	margin-top: 10px;
}


.fn {
	padding: 0px 0px 5px 0px;
	font-size: 120%;
	font-weight: bold;
	color: #444444;
}

.vcard .title {
	margin-bottom: 5px;
}

.vcard dl {
	clear: both;
}

.vcard-profile-edit-icon {
	font-size: 1.2em;
}
.vcard-profile-edit-icon:hover {
	text-decoration: none;
}


#profile-extra-links {
	clear: both;
	margin-top: 10px;
}

#profile-extra-links ul {
	list-style-type: none;
	padding: 0px;
}


#profile-extra-links li {
	margin-top: 5px;
}

.profile-edit-side-div {
	float: right;
}
.profile-edit-side-link {
	opacity: 0.3;
	filter:alpha(opacity=30);
	float: right;
}
.profile-edit-side-link:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);
}

.view-contact-wrapper {
	margin-top: 20px;
	float: left;
	margin-left: 20px;
	width: 180px;
}

.contact-wrapper {
	float: left;
	width: 150px;
	height: 150px;
	overflow: auto;
}

#view-contact-end {
	clear: both;
}


#viewconnections {
	margin-top: 15px;
}


#profile-photo-wrapper img {
	width:175px;
	height:175px;
	padding: 12px;
}

#profiles-menu.menu-popup {
  left: 200px;
  right: auto;
  top: 22px;
}



#profile-in-dir-yes-label,
#profile-in-dir-no-label,
#profile-in-netdir-yes-label,
#profile-in-netdir-no-label,
#hide-wall-yes-label,
#hide-wall-no-label,
#hide-friends-yes-label,
#hide-friends-no-label {
	margin-left: 125px;
	float: left;
	width: 50px;
}


#profile-publish-yes-reg,
#profile-publish-no-reg {
	float: left;
	margin-bottom: 10px;
}

#profile-publish-yes-label-reg,
#profile-publish-no-label-reg {
	margin-left: 350px;
	float: left;
	width: 50px;
}

#profile-publish-break-reg,
#profile-publish-end-reg {
	clear: both;
}


.settings-widget ul {
	list-style-type: none;
	padding: 0px;
}

.settings-widget li {
	margin-left: 24px;
	margin-bottom: 8px;
}



#fsuggest-desc, #fsuggest-submit-wrapper {
	margin-top: 15px;
	margin-bottom: 15px;
}

.thread-end-wrapper {
    margin-left: 50px;
}

#profile-listing-desc {
	margin-left: 30px;
}

#profile-listing-new-link-wrapper {
	margin-left: 30px;
	margin-bottom: 30px;
}
.profile-listing-photo-wrapper {
	float: left;
}

.profile-listing-edit-buttons-wrapper {
	clear: both;
}
.profile-listing-photo-edit-link {
	float: left;
	width: 125px;
}
.profile-listing-end {
	clear: both;
}
.profile-listing-edit-buttons-wrapper img{
	border: none;
	margin-right: 20px;
}
.profile-listing {
	margin-top: 25px;
}
.profile-listing-name {
	float: left;
	margin-left: 32px;
	margin-top: 10px;
	color: #3172BD;
	font-weight: bold;
	width: 200px;

}


.directory-details {
	font-size: 0.7em;
}

.pager {
  padding: 10px;
  text-align: center;
  font-size: 1.0em;
}


.pager_first,
.pager_last,
.pager_prev,
.pager_next,
.pager_n {
	border: 1px solid black;
	background: #EEE;
	padding: 4px;
}

.pager_first a,
.pager_last a,
.pager_prev a,
.pager_next a,
.pager_n a {
	text-decoration: none;
}

.pager_current {
  border: 1px solid black;
  background: #FFCCCC;
  padding: 4px;
}

#block-message, #ignore-message, #archive-message, #lost-contact-message {
	color: #FF0000;
}

.photo, .contact-block-img {
    border-radius: $radiuspx;
    -moz-border-radius: $radiuspx;
    box-shadow: $shadowpx $shadowpx $shadowpx 0 #444444;
}

#side-bar-photos-albums {
	margin-top: 15px;
}

#side-bar-photos-albums ul {
	list-style: none;
}

.profile-match-photo img, #photo-photo img, .directory-photo-img, .photo-album-photo, .photo-top-photo {
    border-radius: $radiuspx;
    -moz-border-radius: $radiuspx;
    box-shadow: $shadowpx $shadowpx $shadowpx 0 #444444;
}

.profile-match-photo img {
	width: $top_photo !important;
	height: $top_photo !important;
}

#sidebar-page-list .label {
    margin-left: 5px;
}

.photo {
    border: 1px solid #AAAAAA;
}

.photo-top-photo, .photo-album-photo {
    padding: 10px;
    max-width: 300px;
    border: 1px solid #888888;
}


.photo-album-image-wrapper .caption {
 	background-color: rgba(245, 245, 255, 0.8);
 	border-bottom: 2px solid #CCC;
}

.photo-top-album-name {
 	background-color: rgb(255, 255, 255);
}

#photos-upload-perms-menu, #photos-upload-perms-menu:visited, #photos-upload-perms-menu:link {
	color: #8888FF;
	text-decoration: none;
	cursor: pointer;
}

#photos-upload-perms-menu:hover {
	color: #0000FF;
	text-decoration: underline;
	cursor: pointer;
}

#photo-caption {
	font-size: 110%;
	font-weight: bold;
}

#in-this-photo-text {
	color: #0080FF;
}

#netsearch-box { margin-bottom: 5px; }

#search-save {
	margin-left: 5px;
}

#side-follow-wrapper {
	margin-top: 20px;
}

#side-peoplefind-url {
	margin-top: 5px;
}

#side-peoplefind-url {
	font-size: 1em;
}

#side-peoplefind-url::-webkit-input-placeholder {
	font-family: FontAwesome;
}

#side-peoplefind-url::-moz-placeholder {
	font-family: FontAwesome;
}

#side-peoplefind-submit {
	margin-top: 15px;
}

#side-match-link {
	margin-top: 10px;
}


.pmenu {
	border-bottom: 1px solid #eec;
	padding: 8px;
	margin-top: 5px;
	-moz-border-radius: $radiuspx;
	-webkit-border-radius: $radiuspx;
	border-radius: $radiuspx;

}

#settings-default-perms-menu {
	margin-top: 15px;
	margin-bottom: 15px;
}

.group-delete-wrapper {
	float: right;
	margin-right: 50px;
}

.rconnect {
	display: block;
	color: #FFFFFF;
	margin-top: 15px;
	background-color: $nav_bg_2;
	-webkit-border-radius: $radiuspx ;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
	padding: 5px;
	font-weight: bold;
	clear: both;
}


#pause {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#vcard-end {
	clear: both;
}

#contact-block {
	margin-top: 25px;
}

#contact-block-numcontacts {
	font-weight: bold;
	margin-bottom:8px;
}

.contact-block-div {
	float: left;
	width: 52px;
	height: 52px;
}
.contact-block-textdiv {
	float: left;
	width: 150px;
	height: 34px;
}

#contact-block-end {
	clear: both;
}
.contact-block-link {
	float: left;
}
.contact-block-img {
	width:48px;
	height:48px;
}

#tag-remove {
	margin-bottom: 15px;
}

#tagrm li {
	margin-bottom: 10px;
}

#tagrm-submit, #tagrm-cancel {
	margin-top: 25px;
}

#tagrm-cancel {
	margin-left: 15px;
}

.wall-item-conv {
	margin-top: 5px;
	margin-bottom: 25px;
}

#search-submit {
	margin-left: 15px;
}

#search-box {
	margin-bottom: 25px;
}

#nav-searchbar {
	float: right;
	margin-top: 2px;
	margin-right: 10px;
}

#nav-search-spinner {
	float: right;
	margin: 12px 12px 0px 0px;
	color: #fff;
}

#nav-search-text:hover,
#nav-search-text:focus {
	background-color: #fff;
	color: #000; 
}

#nav-search-text {
	height: 20px;
	padding: 0px 5px 0px 5px;
	border-radius: 10px;
	border: none;
	background-color: $search_background;
    	transition: background-color 300ms ease 0s;
}

#nav-search-text::-webkit-input-placeholder {
	font-family: FontAwesome;
}

#nav-search-text::-moz-placeholder {
	font-family: FontAwesome;
}

#search-text {
	font-size: 1em;
}

#search-text::-webkit-input-placeholder {
	font-family: FontAwesome;
}

#search-text::-moz-placeholder {
	font-family: FontAwesome;
}

#nav-user-linkmenu img {
	border-radius: $radiuspx;
	margin-top: -4px;
}

.nav-dropdown-indicator {
    opacity: 0.8;
    filter:alpha(opacity=80);
}

.nav-dropdown-indicator:hover {
    opacity: 1.0;
    filter:alpha(opacity=100);
}


.location-label, .gender-label, .marital-label, .homepage-label {
	float: left;
	text-align: right;
	display: block;
	width: 65px;
}

.adr, .x-gender, .marital-text, .homepage-url {
	float: left;
	display: block;
	margin-left: 8px;
}

.profile-clear {
	clear: both;
}


.clear {
	clear: both;
}

.descriptive-text {
	color: #888;
}

#plugin-settings-link, #account-settings-link {
	margin-bottom: 10px;
}

#uexport-link {
	margin-bottom: 20px;
}

/* end from default */
	

#network-new-link {
	margin-top: 15px;
	margin-bottom: 15px;
}


.tool-wrapper {
  float: left;
  margin-left: 15px;
}

.tool-link {
  cursor: pointer;
}

.eventcal {
	float: left;
	font-size: 20px;
}

#event-summary-text {
	margin-top: 15px;
}

#event-share-checkbox {
	float: left;
	margin-top: 10px;
}

#event-share-text {
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}

#event-share-break {
	clear: both;
	margin-bottom: 10px;
}

#event-summary {
	width: 400px;
}

.vevent {
	border: 1px solid #CCCCCC;
}

.vevent .event-summary {
	margin-left: 10px;
	margin-right: 10px;
	font-weight: bold;
}

.vevent .event-description, .vevent .event-location {
	margin-left: 10px;
	margin-right: 10px;
}
.vevent .event-start {
	margin-left: 10px;
	margin-right: 10px;
}

#new-event-link {
	margin-bottom: 10px;
}

.edit-event-link, .plink-event-link {
	float: left;
	margin-top: 4px;
	margin-right: 4px;
	margin-bottom: 15px;
}

.event-description:before {
	content: url('../../../../images/calendar.png');
	margin-right: 15px;
}

.event-start, .event-end {
	margin-left: 10px;
	width: 330px;
	clear: both;
}

.event-start .dtstart, .event-end .dtend {
	float: right;
}

.event-list-date {
	margin-bottom: 10px;
}

.prevcal, .nextcal {
	float: left;
	margin-left: 32px;
	margin-right: 32px;
	margin-top: 64px;
}
.event-calendar-end {
	clear: both;
}

 
.calendar {
	font-family: Courier, monospace;
}
.today {
	font-weight: bold;
	color: #FF0000;
}

.settings-block {
	border: 1px solid #AAA;
	margin: 10px;
	padding: 10px;
}

.app-title {
	margin: 10px;
}

#identity-manage-desc {
	margin-top:15px;
	margin-bottom: 15px;
}

#identity-manage-choose {
	margin-bottom: 15px;
}

#identity-submit {
	margin-top: 20px;
}

.profile-match-photo {
	float: left;
	text-align: center;
	width: 120px;
}

.profile-match-name {
	text-align: center;
	width: 120px;
	height: 18px;
	overflow: hidden !important;
}

.profile-match-note {
	text-align: center;
}

.profile-match-break,
.profile-match-end {
	clear: both;
}

.profile-match-connect {
	text-align: center;
	font-weight: bold;
}

.profile-match-wrapper {
	float: left;
	padding: 10px;
	width: 120px;
	height: 120px;
	scroll: auto;
}
#profile-match-wrapper-end {
	clear: both;
}
.side-link {
	margin-bottom: 15px;
}

#language-selector {
	position: absolute;
	top: 0px;
	left: 16px;
}

#group-members {
	margin-top: 20px;
	padding: 10px;
	height: 250px;
	overflow: auto;
	border: 1px solid #ddd;
}

#group-members-end {
	clear: both;
}

#group-separator {
	margin-top: 10px;
	margin-bottom: 10px;
}

#group-all-contacts {
	padding: 10px;
	height: 450px;
	overflow: auto;
	border: 1px solid #ddd;
}

#group-all-contacts-end {
	clear: both;
	margin-bottom: 10px;
}

#group-edit-desc {
	margin-top: 15px;
}


#prof-members {
	margin-top: 20px;
	padding: 10px;
	height: 250px;
	overflow: auto;
	border: 1px solid #ddd;
}

#prof-members-end {
	clear: both;
}

#prof-separator {
	margin-top: 10px;
	margin-bottom: 10px;
}

#prof-all-contacts {
	padding: 10px;
	height: 450px;
	overflow: auto;
	border: 1px solid #ddd;
}

#prof-all-contacts-end {
	clear: both;
	margin-bottom: 10px;
}

#prof-edit-desc {
	margin-top: 15px;
}


#netsearch-box {
	margin-top: 20px;	
}

#netsearch-box #search-submit {
	margin: 5px 0px 0px 0px;
}

.required {
	color: #FF0000;
}

#event-start-text, #event-finish-text {
	margin-top: 10px;
	margin-bottom: 5px;
}

#event-nofinish-checkbox, #event-nofinish-text, #event-adjust-checkbox, #event-adjust-text {
	float: left;
}
#event-datetime-break {
	margin-bottom: 10px;
}

#event-nofinish-break, #event-adjust-break {
	clear: both;
}

#event-desc-text, #event-location-text {
	margin-top: 10px;
	margin-bottom: 5px;
}
#event-submit {
	margin-top: 10px;
}

#item-delete-selected {
	margin-top: 30px;
}

#item-delete-selected-end {
	clear: both;
}
#item-delete-selected-icon, #item-delete-selected-desc {
	float: left;
	margin-right: 5px;
}
#item-delete-selected-desc:hover {
	text-decoration: underline;
}

#lang-select-icon {
	cursor: pointer;
	position: absolute;
	left: 4px;
/*because of the shape, if this is lined up properly it looks like it's lined up wrong...
lining it up too high is the only way to make it look correctly aligned.  The human
brain is weird like that */
	top: 2px;
}

#lang-select-icon:hover {
	opacity: 1;
	filter:alpha(opacity=100);
}

.notif-image {
	height: 80px;
	width: 80px;
	margin-right: 15px;
}
.notification-listing-end {
	clear: both;
	margin-bottom: 15px;
}



/**
 * Plugins settings
 */

.settings-block > h3,
.settings-heading {
	border-bottom: 1px solid #babdb6;
}
 

/**
 * Form fields
 */
.field {
	margin-bottom: 10px;
/*	padding-bottom: 10px; */
	overflow: auto;
	width: 100%
}

.field label {
	float: left;
	width: 350px;
}

.field input,
.field textarea {
	width: 400px;
}
.field textarea { height: 100px; }
.field_help {
	display: block;
	margin-left: 350px;
	color: #666666;
	
}

.field .onoff {
	float: left;
	width: 80px;
	margin-right: 15px;
}
.field .onoff a {
	display: block;
	border:1px solid #666666;
	background-image:url("../../../../images/onoff.jpg");
	background-repeat: no-repeat;
	padding: 4px 2px 2px 2px;
	height: 16px;
	text-decoration: none;
}
.field .onoff .off {
	border-color:#666666;
	padding-left: 40px;
	background-position: left center;
	background-color: #cccccc;
	color: #666666;
	text-align: right;
}
.field .onoff .on {
	border-color:#204A87;
	padding-right: 40px;
	background-position: right center;
	background-color: #D7E3F1;
	color: #204A87;
	text-align: left;
}
.hidden { display: none!important; }

.field.radio .field_help { margin-left: 0px; }



/*
 * UPDATE
 */
.popup { 	
	width: 100%; height: 100%;
	top:0px; left:0px;
	position: absolute;
	display: none;
}

.popup .background {
	background-color: rgba(0,0,0,128);
	opacity: 0.5;
	width: 100%; height: 100%;
	position: absolute;
	top:0px; left:0px;
}
.popup .panel {
	top:25%;left:25%;width:50%;height:50%;
	padding: 1em;
	position: absolute;
	border: 4px solid #000000;
	background-color: #FFFFFF;
}
.popup .panel .panel_text { display: block; overflow: auto; height: 80%; } 
.popup .panel .panel_in { width: 100%; height: 100%;	position: relative; }
.popup .panel .panel_actions {  width: 100%; bottom: 4px; left: 0px; position: absolute; }
.panel_text .progress { width: 50%; overflow: hidden; height: auto; border: 1px solid #cccccc; margin-bottom: 5px}
.panel_text .progress span {float: right; display: block; width: 25%; background-color: #eeeeee; text-align: right;}

/**
 * OAuth
 */
.oauthapp {
	height: auto; overflow: auto;
	border-bottom: 2px solid #cccccc;
	padding-bottom: 1em;
	margin-bottom: 1em;	
}
.oauthapp img {
	float: left;
	width: 48px; height: 48px;
	margin: 10px;
}
.oauthapp .icon {
	margin-right: 20px;
}

.oauthapp img.noicon {
	background-image: url("../../../../images/icons/48/plugin.png");
	background-position: center center;
	background-repeat: no-repeat;
}
.oauthapp a {
	float: left;
}

/**
 * ICONS
 */
.iconspacer {
	display: block; width: 16px; height: 16px;
/*	visibility: hidden; */
}

.iconspacer:hover {
/*	visibility: visible; */
}

.icon {
	display: block; width: 16px; height: 16px;
	background-image: url('../../../../images/icons.png');
}
.article { background-position: 0px 0px;}
.audio { background-position: -16px 0px;}
.block { background-position: -32px 0px;}
.drop { background-position: -48px 0px;}
.drophide { background-position: -64px 0px;}
.delete { background-position: -64px 0px;}
.edit { background-position: -80px 0px;}
.camera { background-position: -96px 0px;}
.dislike { background-position: -112px 0px;}
.like { background-position: -128px 0px;}
.link { background-position: -144px 0px;}

.globe { background-position: 0px -16px;}
.noglobe { background-position: -16px -16px;}
.no { background-position: -32px -16px;}
.pause { background-position: -48px -16px;}
.play { background-position: -64px -16px;}
.pencil { background-position: -80px -16px;}
.small-pencil { background-position: -96px -16px;}
.recycle { background-position: -112px -16px;}
.remote-link { background-position: -128px -16px;}
.share { background-position: -144px -16px;}

.tools { background-position: 0px -32px;}
.lock { background-position: -16px -32px;}
.unlock { background-position: -32px -32px; }
.video { background-position: -48px -32px;}
.youtube { background-position: -64px -32px;}
.attach { background-position: -80px -32px; }
.language { background-position: -96px -32px; }
.prev { background-position: -112px -32px; }
.next { background-position: -128px -32px; }
.on { background-position: -144px -32px; }

.off { background-position: 0px -48px; }
.tagged { background-position: -48px -48px; }
.yellow { background-position: -64px -48px; }

.starred {
	color: gold;
}

.icon.dim { opacity: 0.3;filter:alpha(opacity=30); }



.body-attach {
	margin-top: 10px;
}



/* autocomplete popup */
.acpopup {
	max-height:150px;
	background-color:#ffffff;
	overflow:auto;
	z-index:100000;
	border:1px solid #cccccc;
}
.acpopupitem {
	background-color:#ffffff; padding: 4px;
	clear:left;
}
.acpopupitem.taggable {
	background-color: #ddddff;
}
.acpopupitem img {
	float: left;
	margin-right: 4px;
}

.acpopupitem.selected {
	color: #FFFFFF; background: #3465A4;
}

/* popup notifications */
div.jGrowl div.notice {
  background: #511919 url("../../../../images/icons/48/notice.png") no-repeat 5px center;
  color: #ffffff;
  padding-left: 58px;
}
div.jGrowl div.info {
  background: #364e59 url("../../../../images/icons/48/info.png") no-repeat 5px center;
  color: #ffffff;
  padding-left: 58px;
}
#jGrowl.top-right {
	top: 15px;
	right: 15px;
}


#id_term_label {
	width:75px;
}
#id_term {
	width:100px;
}

#nav-search-text-ac .autocomplete {
	position: fixed;
	top: 24px;
	border: 1px solid $nav_bg_1;
	border-top: none;
}

#search-text-ac .autocomplete,
#recip-ac .autocomplete,
#poke-recip-ac .autocomplete,
#id-name-ac .autocomplete,
#contact-search-ac .autocomplete {
	margin-top: 2px;
	margin-left: $radiuspx;
	border: 1px solid #666;
	border-top: none;

}

.autocomplete {
	color: $font_colour;
	background: #FFF;
	cursor: pointer;
	text-align: left;
	max-height: 350px;
	overflow: auto;
	border-bottom-left-radius: $radiuspx;
	border-bottom-right-radius: $radiuspx;
}

.autocomplete .selected {
	background: $search_background;
}

.autocomplete div {
	padding: 2px 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.jslider .jslider-scale ins {
    color: #333;
	font-size: $body_font_size;
	width: 100px;
	text-align: center;
}

#contact-slider {
	position: relative; 
	left: 5%; 
	width: 90%;
}

a.rconnect,
nav a,
nav a:active,
nav a:visited,
nav a:link {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

a.rconnect:hover, nav a:hover {
	color: #0080FF;
}
nav .fakelink {
  color: #ffffff;
  text-decoration: none;
  outline: none;
}
nav .fakelink:hover { text-decoration: none; }

#profiles-menu li a {
	color: #ffffff;
}

#profiles-menu li a:hover {
	color: #000000;
}

nav ul {
  margin: 0px;
  padding: 0px 20px;
}
nav ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  float: left;
}
nav ul li .menu-popup {
  left: 0px;
  right: auto;
  top: 33px;
}

#nav-user-linkmenu {
	margin-left: 5px;
}

nav .nav-menu-icon {
  position: relative;
  height: 22px;
  padding: 5px;
/*  margin: 3px 10px; */
  -moz-border-radius: $radiuspx;
  -webkit-border-radius: $radiuspx;
  border-radius: $radiuspx;
}
nav .nav-menu-icon.active {
  background-color: #FF0000;
}
nav .nav-menu-icon img {
  width: 22px;
  height: 22px;
}
nav .nav-menu-icon .nav-notify {
  top: 3px;
}
nav .nav-menu {
  position: relative;
  height: 16px;
  padding: 5px;
  margin: 0px 5px 0px;
  font-size: 1.0em;
/*  border-bottom: 3px solid #f88; */
}

nav:hover .nav-menu {
/*  border-bottom: 3px solid #f00; */
}

nav .nav-menu.active i {
	color: $active_colour;
}

nav .nav-notify {
  background-color: #0080FF;
  color: #fff;
  -moz-border-radius: $radiuspx;
  -webkit-border-radius: $radiuspx;
  border-radius: $radiuspx;
/*  opacity: 0.6;
  filter:alpha(opacity=60); */

}
.nav-notify:hover, nav .nav-notify.active span {
	color: #ffffff;
}

nav .nav-notify.show {
  display: block;
}
nav #nav-help-link,
nav #nav-login-link,
nav #nav-search-link,
nav #nav-directory-link,
nav #nav-apps-link {
  float: right;
}
nav #nav-help-link .menu-popup,
nav #nav-search-link .menu-popup,
nav #nav-directory-link .menu-popup,
nav #nav-apps-link .menu-popup,
nav #nav-site-linkmenu .menu-popup {
  right: 0px;
  left: auto;
}
nav #nav-notifications-linkmenu.on .icon.s22.notify,
nav #nav-notifications-linkmenu.active .icon.s22.notify {
  background-image: url("../../../../images/icons/22/notify_on.png");
}
nav #nav-apps-link.active {
  background-color: #364e59;
}
ul.menu-popup {
  position: absolute;
  display: none;
  width: 10em;
  background: #0080FF;
  color: #eec;
  padding: 0px;
  list-style: none;
/*  border-radius: 0px 0px 20px 20px; */
  z-index: 100000;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
}
ul.menu-popup a {
  display: block;
  color: #FFFFFF;
  padding: 5px 10px;
  text-decoration: none;
}


ul.menu-popup a:hover {
  background-color: #888888;
  color: #FFFFFF;
}
ul.menu-popup .menu-sep {
  border-top: 1px solid #9eabb0;
}
ul.menu-popup li {
  float: none;
  overflow: auto;
  height: auto;
  display: block;
}
ul.menu-popup li img {
  float: left;
  width: 16px;
  height: 16px;
  padding-right: 5px;
}
ul.menu-popup .empty {
  padding: 5px;
  text-align: center;
  color: #9eabb0;
}
ul.menu-popup .toolbar {
  background-color: #9eabb0;
  height: auto;
  overflow: auto;
}
ul.menu-popup .toolbar a {
  float: right;
}
ul.menu-popup .toolbar a:hover {
  background-color: #ffffff;
}
/* header */
header {
  position: fixed;
  left: 43%;
  right: 43%;
  top: 0px;
  margin: 0px;
  padding: 0px;
  /*width: 100%; height: 12px; */

  z-index: 110;
  color: #ffffff;
}


/* notifications popup menu */
.nav-notify {
	display: none;
	position: absolute;
	font-size: 10px;
	padding: 1px 3px;
	top: 0px;
	right: -5px;
	min-width: 15px;
	text-align: right;
}
.nav-notify.show {
	display: block;
}
ul.menu-popup {
	position: absolute;
	display: none;
	width: 10em;
	margin: 0px;
	padding: 0px;
	list-style: none;
	z-index: 100000;
/*	top: 90px; */
/*	left: 400px; */
}

.notify-menus {
	width: 320px !important;
	max-height: 400px;
	overflow-y: scroll;overflow-style:scrollbar;
}

#nav-notifications-menu {
	width: 320px;
	max-height: 400px;
	overflow-y: scroll;overflow-style:scrollbar;
	background-color:#FFFFFF;
	-moz-border-radius: $radiuspx;
	-webkit-border-radius: $radiuspx;
	border-radius: $radiuspx;
	border: 1px solid #888;
}
#nav-notifications-menu .contactname { font-weight: bold; font-size: 0.9em; }
#nav-notifications-menu img { float: left; margin-right: 5px; }
#nav-notifications-menu .notif-when { font-size: 0.8em; display: block; }
#nav-notifications-menu li {
	padding: 7px 0px 7px 10px;
	word-wrap:normal;
	border-bottom: 1px solid #000;
}

#nav-notifications-menu li:hover {

}

#nav-notifications-menu a:hover {
	text-decoration: underline;
}

.notif-item a {
	color: #000000;
}

.notif-item a:hover {
	text-decoration: underline;
}

.notif-image {
	width: 32px;
	height: 32px;
	padding: 7px 7px 0px 0px;
}

.notify-seen {
	background: #DDDDDD;
}

#page-spinner {
	color: #777;
	margin: 24px;
}

.tabs-end {
	clear: both;
}

#acl-wrapper {
	width: 690px;
	float:left;
}

#acl-search {
	float:right;
	background: #ffffff url("../../../../images/search_18.png") no-repeat right center;
	padding-right:20px;
}
#acl-showall {
	float: left;
	display: block;
	width: auto;
	height: 18px;
	background-color: #cccccc;
	background-image: url("../../../../images/show_all_off.png");
	background-position: 7px 7px;
	background-repeat: no-repeat;
	padding: 7px 5px 0px 30px;
	-webkit-border-radius: $radiuspx;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
	color: #999999;
}
#acl-showall.selected {
	color: #000000;
	background-color: #ff9900;
	background-image: url("../../../../images/show_all_on.png");
}

#acl-list {
	height: 210px;
	border: 1px solid #cccccc;
	clear: both;
	margin-top: 30px;
	overflow: auto;
}
#acl-list-content {
	
}
.acl-list-item {
	display: block;
	width: 150px;
	height: 30px;
	border: 1px solid #cccccc;
	margin: 5px;
	float: left;
}
.acl-list-item img{
	width:22px;
	height: 22px;
	float: left;
	margin: 4px;
}
.acl-list-item.taggable {
	background-color: #ddddff;
}

.acl-list-item p { height: 12px; font-size: 10px; margin: 0px; padding: 2px 0px 1px; overflow: hidden;}
.acl-list-item a { 
	font-size: 8px;
	display: block;
	width: 40px;
	height: 10px;
	float: left;
	color: #999999;
	background-color: #cccccc;
	background-position: 3px 3px;
	background-repeat: no-repeat;
	margin-right: 5px;
	-webkit-border-radius: 2px ;
	-moz-border-radius: 2px;
	border-radius: 2px;
	padding-left: 15px;
}
#acl-wrapper a:hover {
	text-decoration: none;
	color:#000000;
}
.acl-button-show { background-image: url("../../../../images/show_off.png"); }
.acl-button-hide { background-image: url("../../../../images/hide_off.png"); }

.acl-button-show.selected {
	color: #000000;
	background-color: #9ade00;
	background-image: url("../../../../images/show_on.png");
}
.acl-button-hide.selected {
	color: #000000;
	background-color: #ff4141;
	background-image: url("../../../../images/hide_on.png");
}
.acl-list-item.groupshow { border-color: #9ade00; }
.acl-list-item.grouphide { border-color: #ff4141; }

.contact-block-content {
	margin-top: 8px;
}

.profile-match-connect { margin-top: 5px; }

.reshared-content { margin-left: 30px; }
.shared_header img { margin-right: 10px; }

.tag1 {
    font-size : 1.0em !important;
  }
.tag2 {
    font-size : 1.2em !important;
  }


.tag3 {
    font-size : 1.4em !important;
  }


.tag4 {
    font-size : 1.6em !important;
  }


.tag5 {
    font-size : 1.8em !important;
  }


.tag6 {
    font-size : 2.0em !important;
  }


.tag7 {
    font-size : 2.2em !important;
  }


.tag8 {
    font-size : 2.4em !important;
  }


.tag9 {
    font-size : 2.6em !important;
  }


.tag10 {
    font-size : 2.8em !important;
  }

.profile-thing-list {
	list-style-type: none;
}
/*
.profile-thing-list li {
	float: left;
	margin-right: 25px;
}
*/


div#pagelist-content-wrapper {
width: 80%;
background: #fff;
margin-left: auto;
margin-right: auto;
}

div.page-list-item {
margin: 20px;
}

div#write-pages {
display: block;
position: fixed;
top: 24px;
z-index: 99;
background: silver;
width: 100%;
}

div#write-pages a {
color: #000;
margin-right: 50px;
}

.pmenu ul {
	list-style-type: none;
}

.pmenu li {
	margin-left: -20px;
}

.admin-icons {
	font-size: 1.2em;
	color: $toolicon_colour;
}

.nav-icon {
	font-size: 1.4em;
	margin-right: 15px;
}

a .drop-icons {
	color: $toolicon_colour;;
	font-size: 1.2em;
	text-decoration: none;
}
 
a .drop-icons:hover {
	color: #FF0000;
}

.permission-inherited {
	float: left;
	margin-right: 10px;
	color: #FF0000;
}
 
.attachlink {
	float: left;
	border: 1px solid black;
	padding: 5px;
	margin-right: 8px;
}

.attach-icons {
	font-size: 1.4em;
}

.attach-clip {
	margin-right: 3px;
	font-size: 1.8em;
}

.item-category {
	margin-right: 10px;
}

.design-tools ul {
	list-style-type: none;
}

.design-icons {
	margin-right: 10px;
}

.design-icons:hover { 
text-decoration: none; 
}

#menulist {
	list-style-type: none;
}

.admin-icons {
	color: $toolicon_colour;
	margin-right: 10px;
}

/* message */

img.mail-list-sender-photo {
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

/* jot */

#jot-title,
#jot-category,
#jot-pagetitle {
	font-weight: bold;
	border: solid 1px #ffffff;
	border-radius: $radiuspx;
}

#jot-category::-webkit-input-placeholder {
	font-weight: bold;
}

#jot-category:-moz-placeholder {
	font-weight: bold;
}

#jot-title::-webkit-input-placeholder {
	font-weight: bold;
}

#jot-title:-moz-placeholder {
	font-weight: bold;
}

#jot-pagetitle::-webkit-input-placeholder {
	font-weight: bold;
}

#jot-pagetitle:-moz-placeholder {
	font-weight: bold;
}

#jot-title:hover,
#jot-title:focus,
#jot-pagetitle:hover,
#jot-pagetitle:focus,
#jot-category:hover,
#jot-category:focus {
	border: 1px solid #cccccc;
}

#profile-jot-text {
	color:#000;
	border: 1px solid #cccccc;
	-moz-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

#profile-jot-text::-webkit-input-placeholder {
	font-size:1.5em;
}

#profile-jot-text::-moz-placeholder {
	font-size:1.5em;
}

#profile-jot-text:focus::-webkit-input-placeholder {
	color: transparent;
}

#profile-jot-text:focus::-moz-placeholder {
	color: transparent;
}

#profile-jot-text-loading {
	color: #777;
}

#profile-jot-submit {
	background: linear-gradient(top, #0080ff 0%, #0080aa);
	background: -webkit-linear-gradient(top, #0080ff 0%, #0080aa);
	background: -moz-linear-gradient(top, #0080ff 0%, #0080aa);
	background: -o-linear-gradient(top, #0080ff 0%, #0080aa);
	background: -ms-linear-gradient(top, #0080ff 0%, #0080aa);
	color: #fff;
	font-weight: bold;
	border-radius: 0px $radiuspx $radiuspx 0px;
	text-shadow: 1px 1px #111;
	cursor: pointer;
}

#profile-jot-submit:hover {
	background: linear-gradient(top, #0080aa 0%, #0080ff);
	background: -webkit-linear-gradient(top, #0080aa 0%, #0080ff);
	background: -moz-linear-gradient(top, #0080aa 0%, #0080ff);
	background: -o-linear-gradient(top, #0080aa 0%, #0080ff);
	background: -ms-linear-gradient(top, #0080aa 0%, #0080ff);
}

#profile-jot-perms {
	background-color: $toolicon_colour;
	border: 1px solid #666;
	border-right: none;
	border-radius: $radiuspx 0px 0px $radiuspx;
}

#profile-rotator {
	color: #777;
}

.jot-icons {
	font-size: 1.2em;
	color: $toolicon_colour;
}

.jot-icons:hover {
	color: $toolicon_activecolour;
}

/* conversation */

.thread-wrapper .wall-item-comment-wrapper,
.wall-item-content-wrapper.comment {
	margin-left: $comment_indent;
	border-left: 2px solid #eee;
}

.thread-wrapper.toplevel_item {
	max-width: $converse_width;
}

.wall-item-content-wrapper {
	border-radius: $radiuspx;
	background-color: $item_colour;
	opacity: $item_opacity;
}

.wallwall .wwto {
	top: $wwtop;
}

.wall-item-photo-menu-button {
	background-image: url("../img/photo-menu.jpg");
	background-position: top left;
	background-repeat: no-repeat;
	top: $pmenu_top;
}

.wall-item-photo-menu {
	border: 2px solid #444444;
	background: #FFFFFF;
	top: $top_photo;
}

.wall-item-photo-menu ul {
	list-style: none
}

.wall-item-photo-menu li a:hover {
	color: #FFFFFF;
	background: #3465A4;
	text-decoration: none;
}

.comment .wall-item-photo-menu-button {
	top: $pmenu_reply;
}

.comment .wall-item-photo-menu {
	top: $reply_photo;
}

.wall-item-photo {
	border: none;
	width: $top_photo !important;
	height: $top_photo !important;

}

.comment .wall-item-photo {
	width: $reply_photo !important;
	height: $reply_photo !important;
}

.wall-item-photo {
    border-radius: $radiuspx;
    -moz-border-radius: $radiuspx;
    box-shadow: $shadowpx $shadowpx $shadowpx 0 #444444;
}

.wall-item-arrowphoto-wrapper {
	top: $wwtop;
}

.wall-item-lock {
	font-size: 1.2em;
	color: $toolicon_colour;
}

.wall-item-ago .icon-ok {
	color: darkgreen;
}


.wall-item-ago {
	color: #777;
	font-size: 0.8em;
}

.wall-item-ago i {
	font-size: 0.6em;
}

.wall-item-content {
	font-size: $font_size;
}

.item-tool {
	font-size: 1.2em;
	color: $toolicon_colour;
}

.item-tool:hover {
	color: $toolicon_activecolour;
}

.like-rotator {
	color: $toolicon_colour;
}

.my-comment-photo {
    border-radius: $radiuspx;
    -moz-border-radius: $radiuspx;
    box-shadow: $shadowpx $shadowpx $shadowpx 0 #444444;
}

.comment-edit-photo img {
	width: $reply_photo;
}

[class^="comment-edit-bb"] {
	list-style: none;
}

.comment-icon {
	font-size: 1.2em;
	color: $toolicon_colour;
}

.comment-icon:hover {
	color: $toolicon_activecolour;
}

.comment-edit-text-empty,
.comment-edit-text-full {
	border: 1px solid #ccc;
	border-radius: $radiuspx;
}

.comment-edit-text-empty {
	color: gray;
}

.comment-edit-text-full {
	color: black;
}

/* widgets */

.widget {
	border-bottom: 1px solid #eec;
	-moz-border-radius: $radiuspx;
	-webkit-border-radius: $radiuspx;
	border-radius: $radiuspx;
}

#note-text {
	border: 1px solid #ccc;
	border-radius: $radiuspx;
	-moz-border-radius: $radiuspx;
}

#saved-search-ul {
	list-style-type: none;
}

.fileas-ul {
	list-style-type: none;
}

#datebrowse-sidebar select {
	border: 1px solid #ccc;
	border-radius: $radiuspx;
	-moz-border-radius: $radiuspx;
}

.categories-ul {
	list-style-type: none;
}

#sidebar-group-list ul {
	list-style-type: none;
}
