

#statusnet-avatar {
	float: left;
	width: 48px;
	height: 48px;
	padding: 2px;
}
#statusnet-info-block {
	height: 52px;
	vertical-align: middle;
}
#statusnet-disconnect-label {
	float: left;
	width: 250px;
	margin-bottom: 25px;
}
#statusnet-default-label {
	float: left;
	width: 250px;
	margin-bottom: 25px;
}

#statusnet-disconnect {
	float: left;
}

#statusnet-enable-label {
	float: left;
	width: 250px;
	margin-bottom: 5px;
}

#statusnet-checkbox {
	float: left;
}

#statusnet-pin-label {
	float: left;
	width: 250px;
	margin-bottom: 25px;
}
#statusnet-pin {
	float: left;
}


#statusnet-consumerkey-label {
	float: left;
	width: 250px;
	margin-bottom: 8px;
}
#statusnet-consumerkey {
	float: left;
	margin-bottom: 8px;
}
#statusnet-consumersecret-label {
	float: left;
	width: 250px;
	margin-bottom: 8px;
}
#statusnet-consumersecret {
	float: left;
	margin-bottom: 8px;
}
#statusnet-baseapi-label {
	float: left;
	width: 250px;
	margin-bottom: 25px;
}
#statusnet-baseapi {
	float: left;
	margin-bottom: 8px;
}
